<div class="scope-container">
    {{view "discardChangesModal"}}

    <div class="content content--readable pad--sm--n">
        <div class="panel mar--md--bm js-profile-panel mar--sm--tn mar--md--tm no-radius-on-small">
            <div class="panel__top">
                <div class="js-edit-buttons">
                    <button {{action "clickEdit"}} class="button button--primary float--right mar--sm--ls" type="button">
                        <span class="juicon juicon-pencil"></span> Edit
                    </button>
                    <button {{action "clickDelete"}} class="button button--ghost button--error float--right" type="button">
                        <span class="juicon juicon-trash"></span> Delete
                    </button>
                </div>
                <h2 class="panel__heading has-subheading">Interview</h2>
                <h3 class="panel__subheading">{{jobInformationObj.jobPosting.Job_Title__c}}</h3>
            </div>
            <section id="identity">
                <div class="panel__body">
                    <div class="part__left--fixed pad--sm--n">
                        <div class="img-container img-container--lg"><img src="https://c.na24.content.force.com/profilephoto/005/F">
                        </div>
                    </div>
                    <div class="part__body width--full pad--sm--lm pad--sm--rm">
                        <h5 class="mar--sm--n relatedPerson"><a href="#">{{interviewObj.Application__r.Name}}</a></h5>
                        <h5 class="text-faded mar--sm--n">
                            {{jobInformationObj.jobPosting.Job_Title__c}} (Midwest)
                        </h5>
                    </div>
                </div>
            </section>
            
            <div class="list-heading">
                <h4 class="list-heading__title">Interview Information</h4>
            </div>
            <div class="row">
                <section class="column--md--6" id="date-time">
                    <div class="panel__body pad--sm--bn">
                        <h3>Date and Time <span class="status accepted">Accepted</span></h3>

                        {{#each timeSlot in timeSlotsArray}}
                            <div class="row mobile-narrow pad--sm--lm">
                                <div class="column--sm--5 pad--sm--ln pad--sm--rn">
                                    {{!-- WHEN WE HAVE DIFFERENT STATUSES OF INTERVIEW SCHEDULE
                                    <small>{{timeSlot.formatedDate}}</small> --}}
                                    {{#if timeSlot.isDeclined}}
                                        <small><strike>{{timeSlot.formatedDate}}</strike></small>
                                    {{else}}
                                        <small class="accepted">{{timeSlot.formatedDate}}</small>
                                    {{/if}}
                                </div>
                                <div class="column--sm--7 pad--sm--ln pad--sm--rn">
                                    {{!-- WHEN WE HAVE DIFFERENT STATUSES OF INTERVIEW SCHEDULE
                                    <small><a href="http://www.timeanddate.com/worldclock/fixedtime.html?msg=Interview+for+Sales+Engineer+%28Janet+Keller%29&amp;iso=20150616T11&amp;p1=%3A&amp;ah=1&amp;am=30">11:00a–12:30p CDT</a></small> --}}
                                    {{#if timeSlot.isDeclined}}
                                        <small><strike><a href="http://www.timeanddate.com/worldclock/fixedtime.html?msg=Interview+for+Sales+Engineer+%28Janet+Keller%29&amp;iso=20150616T11&amp;p1=%3A&amp;ah=1&amp;am=30">11:00a–12:30p CDT</a></strike></small>
                                    {{else}}
                                         <small class="accepted"><a href="http://www.timeanddate.com/worldclock/fixedtime.html?msg=Interview+for+Sales+Engineer+%28Janet+Keller%29&amp;iso=20150619T13&amp;p1=%3A&amp;ah=1&amp;am=30">1:00p–2:30p CDT</a></small>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                        

                        <div class="card mar--sm--tm mar--sm--bn">
                            <div class="card__body">
                                <ul class="directReports list-style-type-none mar--sm--tn no-margin-bottom">
                                    <li class="mar--sm--bs">
                                        <div class="part__left--fixed pad--sm--n">
                                            <div class="img-container img-container--sm">
                                                <img src="https://c.na24.content.force.com/profilephoto/005/F">
                                            </div>
                                        </div>
                                        <div class="part__body width--full pad--sm--ls pad--sm--rm">
                                            <h5 class="mar--sm--bn"><a href="#">{{interviewObj.Application__r.Name}}</a></h5>
                                        </div>
                                    </li>
                                </ul>
                                "I'm really looking forward to meeting everyone!"
                            </div>
                        </div>
                    </div>
                </section>

                <section class="column--md--6" id="location">
                    <div class="panel__body pad--sm--bn">
                        <h3>Location</h3>
                        <small>Chicago Office<br>
                        318 W. Adams, 19th Floor<br>
                        Chicago, IL 60601<br>
                        <a href="https://www.google.com/maps/place/318+W+Adams+St,+Chicago,+IL+60606/@41.879517,-87.6361477,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cbf27043607:0x519801acfc89669e"><span class="juicon juicon-location"></span> View Map</a></small>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="column--md--6" id="interviewers">
                    <div class="panel__body pad--sm--bn">
                        <h3>Interviewers</h3>
                        <ul class="directReports list-style-type-none mar--sm--tn no-margin-bottom">
                            {{#each interviewer in interviewersArray}}
                                <li class="mar--sm--bxs">
                                    <div class="part__left--fixed pad--sm--n">
                                        <div class="img-container img-container--sm">
                                            <img {{bind-attr src="interviewer.smallPhotoUrl"}}>
                                        </div>
                                    </div>
                                    <div class="part__body width--full pad--sm--ls pad--sm--rm">
                                        <h5 class="mar--sm--bn"><a href="/{{unbound interviewer.id}}">{{interviewer.name}}</a></h5>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </section>
                <section class="column--md--6" id="topics">
                    <div class="panel__body">
                        <h3>Topics</h3>
                        <ul class="mar--sm--n pad--sm--ll">
                            {{#each topic in topicsArray}}
                                <li>{{topic}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </section>
            </div>
            <section id="key-people">
                <div class="js-section-view">
                    <div class="list-heading">
                        <h4 class="list-heading__title">Key People</h4>
                    </div>
                    <div class="row">
                        <div class="column--md--6">
                            <div class="panel__body pad--sm--bn">
                                <h3>Hiring Manager</h3>
                                <ul class="directReports list-style-type-none mar--sm--tn no-margin-bottom">
                                    <li class="mar--sm--bxs">
                                        <div class="part__left--fixed pad--sm--n">
                                            <div class="img-container img-container--sm">
                                                <img {{bind-attr src="jobInformationObj.hiringManager.SmallPhotoUrl"}}>
                                            </div>
                                        </div>
                                        <div class="part__body width--full pad--sm--ls pad--sm--rm">
                                            <h5 class="mar--sm--bn"><a href="/{{unbound jobInformationObj.hiringManager.Id}}">{{jobInformationObj.hiringManager.Name}}</a></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="column--md--6">
                            <div class="panel__body">
                                <h3>Recruiter</h3>
                                <ul class="directReports list-style-type-none mar--sm--tn no-margin-bottom">
                                    <li class="mar--sm--bxs">
                                        <div class="part__left--fixed pad--sm--n">
                                            <div class="img-container img-container--sm">
                                                <img {{bind-attr src="jobInformationObj.recruiter.SmallPhotoUrl"}}>
                                            </div>
                                        </div>
                                        <div class="part__body width--full pad--sm--ls pad--sm--rm">
                                            <h5 class="mar--sm--bn"><a href="/{{unbound jobInformationObj.recruiter.Id}}">{{jobInformationObj.recruiter.Name}}</a></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="feedback">
                <div class="js-section-view">
                    <div class="list-heading">
                        <h4 class="list-heading__title">Feedback</h4>
                    </div>
                    <div class="panel__body pad--sm--bn pad--sm--tn">
                        <article class="mar--sm--bm">
                        </article>
                        <div class="js-component-controls">
                            <button class="button button--primary button--ghost width--full js-add-component mar--sm--bm" type="button">
                                <span class="juicon juicon-chat"></span> Provide feedback
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section id="other-info">
                <div class="js-section-view">
                    <div class="list-heading">
                        <h4 class="list-heading__title">Other Information</h4>
                    </div>
                    <div class="panel__body pad--sm--bn js-guidelines">
                        <button class="button button--primary button--ghost float--right js-edit-section mar--sm--lm" data-target="#editModal" data-text-target="js-guidelines" data-toggle="modal" style="display: block;" type="button">
                            <span class="juicon juicon-pencil"></span>
                        </button>
                        <h3 class="js-header mar--sm--n">Interview Guidelines</h3>
                            <div class="js-edit-text">HR has published Marvelpoint's FY15 interview guidelines here: <a href="#"> http://intra.mp.com/hr/intguide.pdf</a></div>
                    </div>
                    <div class="panel__body pad--sm--tn js-logistics">
                        <button class="button button--primary button--ghost float--right js-edit-section mar--sm--lm" data-target="#editModal" data-text-target="js-logistics" data-toggle="modal" style="display: block;" type="button">
                            <span class="juicon juicon-pencil"></span>
                        </button>
                        <h3 class="js-header mar--sm--tm">Logistical Details</h3>
                        <div class="js-edit-text">4th Floor (Walnut Room); Talk to Marie at the reception desk and ask for Rhonda</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="linkedinModalLabel" class="modal fade" id="editModal" role="dialog" tabindex="-1">
        <div class="modal__shell">
            <div class="modal__content">
                <div class="modal__top">
                    <button class="close" data-dismiss="modal" type="button">
                        <span class="close-modal-x"></span><span class="sr-only">Close</span>
                    </button>
                    <h2 class="modal__heading" id="myModalLabel"></h2>
                </div>
                <div class="modal__body">
                    <textarea></textarea>
                </div>
                <div class="modal__footer">
                    <button class="button button--secondary js-cancel" data-dismiss="modal" type="button">Cancel</button>
                    <button class="button button--primary js-save" data-dismiss="modal" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>