<div class="scope-container">
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal__shell">
            <div class="modal__content">
                <div class="modal__top">
                    <!--<button type="button" class="close" data-dismiss="modal">-->
                        <!--<span class="close-modal-x"></span><span class="sr-only">Close</span>-->
                    <!--</button>-->
                    <h2 class="modal__heading" id="myModalLabel">Before you begin...</h2>
                </div>
                <div class="modal__body">
                    <p class="mar--sm--tn">Please confirm the location where you'd prefer to work.</p>
                    <div class="form__group">
                        <div class="select__wrap">
                            <div class="input__icon juicon juicon-down"></div>
                            <select>
                                <option>Chicago, IL (Closest)</option>
                                <option>Boston, MA</option>
                                <option>London, GB, UK</option>
                                <option>Remote</option>
                                <option>San Francisco, CA (Primary)</option>
                                <option>Vancouver, BC, CA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal__footer">
                    <button type="button" class="button button--primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content pad--md--ts pad--md--bl pad--sm--only--n pad--sm--tm">
        <div class="content__section show-brkpoint--md">
            <img class="mar--sm--bxl theme-logo" src="{{unbound companyLogoUrl}}" style="height: 40px; width: 58px"/>
        </div>
        <div class="row mar--sm--only--n">
            <div class="column--md--3 pad--sm--only--n">
                <ul class="list-group wizardNav show-brkpoint--md mar--md--tn">
                    {{#link-to "contactInfo" tagName="li" class="list-group__item"}}<a>Contact Info</a>{{/link-to}}
                    {{#if isResumeEnabled}}
                        {{#link-to "resume" tagName="li" class="list-group__item" disabledWhen="disableResume"}}<a>Resume</a>{{/link-to}}
                    {{/if}}
                    {{#if isSkillsEnabled}}
                        {{#link-to "skills" tagName="li" class="list-group__item" disabledWhen="disableSkills"}}<a>Skills</a>{{/link-to}}
                    {{/if}}
                    {{#if isEmploymentHistoryEnabled}}
                        {{#link-to "employmentHistory" tagName="li" class="list-group__item" disabledWhen="disableEmploymentHistory"}}<a>Employment History</a>{{/link-to}}
                    {{/if}}
                    {{#if isEducationHistoryEnabled}}
                        {{#link-to "educationHistory" tagName="li" class="list-group__item" disabledWhen="disableEducationHistory"}}<a>Education History</a>{{/link-to}}
                    {{/if}}
                    {{#link-to "general" tagName="li" class="list-group__item" disabledWhen="disableGeneral"}}<a>General</a>{{/link-to}}
                    {{#link-to "jobSpecific" tagName="li" class="list-group__item" disabledWhen="disableJobSpecific"}}<a>Job Specific</a>{{/link-to}}
                    {{#link-to "legallyRequired" tagName="li" class="list-group__item" disabledWhen="disableLegallyRequired"}}<a>Legally Required</a>{{/link-to}}
                </ul>
            </div>
            <div class="column--md--9 pad--sm--only--n">
                <div class="content mar--md--tm pad--md--n mar--md--bm show-brkpoint--sm--only">
                    <hr class="show-brkpoint--md"/>
                    {{#unless isContactInfo}}
                        <button class="button button--secondary button--sf1-nav mar--sm--only--ls mar--sm--only--ts mar--sm--only--ls float--left prev" style="top:0;left:0;" {{action "clickPrevious"}}><span class="juicon juicon-backward"></span> <span class="show-brkpoint--md">Previous</span></button>
                    {{/unless}}

                    {{#unless isLegallyRequired}}
                        <button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :next disableNext:disabled" disabled="disableNext"}} style="top:0;right:0;" {{action "clickNext"}}><span class="show-brkpoint--md">Next</span> <span class="juicon juicon-forward"></span> </button>
                    {{/unless}}
                    <div class="pad--sm--lxxl pad--sm--rxxl text-center pad--sm--tm text-faded">
                        <span class="currentNumber">{{currentSectionNum}}</span>/<span class="totalNumber">{{numSections}}</span>
                    </div>
                </div>
                <div class="wizardContent">
                    {{outlet}}
                    <div class="content mar--sm--tm pad--md--n mar--sm--bm">
                        <hr class="show-brkpoint--md"/>
                        {{#unless isContactInfo}}
                            <button class="button button--secondary button--sf1-nav mar--sm--only--ls mar--sm--only--ts mar--sm--only--ls float--left prev" style="top:0;left:0;" {{action "clickPrevious"}}><span class="juicon juicon-backward"></span> <span class="show-brkpoint--md">Previous</span></button>
                        {{/unless}}

                        {{#unless isLegallyRequired}}
                            <button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :next disableNext:disabled" disabled="disableNext"}} style="top:0;right:0;" {{action "clickNext"}}><span class="show-brkpoint--md">Next</span> <span class="juicon juicon-forward"></span> </button>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="content__section">
                <img class="mar--sm--txl theme-logo" src="{{unbound companyLogoUrl}}" style="height: 40px; width: 58px"/>
                <ul class="inline-list text-left pad--sm--tm fss">
                    <li class="inline-list__item">&copy; 2015</li>
                    <li class="inline-list__item"><a href="#">Privacy</a></li>
                    <li class="inline-list__item"><a href="#">Terms</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>