<div id="aboutMe" class="wizardSection pad--sm--only--n active">
    <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm">Contact Info</h1>
    <div class="panel">
        <div class="list-heading">
            <h4 class="list-heading__title has-radius-top">{{nameFieldsLabel}}</h4>
        </div>
        <div class="panel__body pad--sm--tn">
            <div class="row">
                {{#each field in name}}
                    {{partial field.partial}}
                {{/each}}
            </div>
        </div>

        {{#if contact}}
            <div class="list-heading">
                <h4 class="list-heading__title">{{contactFieldsLabel}}</h4>
            </div>
            <div class="panel__body pad--sm--tn">
                <div class="row">
                    {{#each field in contact}}
                        {{partial field.partial}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
        
        {{#if address}}
            <div class="list-heading">
                <h4 class="list-heading__title">{{addressFieldsLabel}}</h4>
            </div>
            <div class="panel__body pad--sm--tn">
                <div class="row">
                    {{#each field in address}}
                        {{partial field.partial}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
</div>