<div id="general" class="wizardSection pad--sm--only--n">
    <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm">General</h1>
    <div class="content__section pad--sm--only--tn">
        {{#each fe in model itemController="formElement"}}
            {{#unless fe.isEtNone}}
                
                {{#if fe.isQuestion}}
                    {{#unless fe.isAtNone}}
                        {{#if fe.isRadioButton}}
                            <p class="mar--sm--tm mar--md--txl" data-qa-label="questionText">
                                {{fe.Text__c}}
                            </p>

                            <ul class="form__group list-style-type-none">
                                {{#each answer in fe.answerChoices}} 
                                    <li class="form__group mar--sm--tm">
                                        <label>
                                            <span class="part__left--fixed pad--sm--rn">
                                                {{radio-button name=fe.Id value=answer.Value__c}}
                                            </span>
                                            <span class="part__body" data-qa-label="answerChoice"> {{answer.Value__c}} </span>
                                        </label>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}

                        {{#if fe.isCheckbox}}
                            <p class="mar--sm--tm mar--md--txl" data-qa-label="questionText">
                                {{fe.Text__c}}
                            </p>

                            <ul class="form__group list-style-type-none">
                                {{#each answer in fe.answerChoices}}
                                    <li class="form__group mar--sm--tm">
                                        <label>
                                            <span class="part__left--fixed pad--sm--rn">
                                                {{input type="checkbox" checked=answer.isChecked data-qa-input="answerChoice"}}
                                            </span>
                                            <span class="part__body" data-qa-label="answerChoice"> {{answer.Value__c}} </span>
                                        </label>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}

                        {{#if fe.isTextField}}
                            <p class="mar--sm--tm mar--md--txl" data-qa-input="questionText">
                                {{fe.Text__c}}
                            </p>
                   
                            <div class="form__group mar--sm--tm">
                                <label class="sr-only"></label>
                                {{input type="text" value=fe.value placeholder=labels.typeAnAnswer data-qa-input="textField"}}
                                <small class="input-error-content"></small>
                            </div>         
                        {{/if}}

                        {{#if fe.isParagraph}}
                            <p class="mar--sm--tm mar--md--txl" data-qa-label="questionText">
                                {{fe.Text__c}}
                            </p>

                            <div class="form__group mar--sm--tm">
                                <div class="form__group">
                                    {{textarea value=fe.value placeholder=labels.typeAnAnswer data-qa-input="textArea"}}
                                </div>
                            </div>
                        {{/if}}

                        {{#if fe.isDate}}
                            <p class="mar--sm--tm mar--md--txl" data-qa-label="questionText">
                                {{fe.Text__c}}
                            </p>

                            <div class="form__group mar--sm--tm" data-qa-input="input">
                                <div class="row">
                                    <div class="column--md--6">
                                        {{date-picker value=fe.dateValue}}
                                    </div>
                                </div>
                                
                                <small class="input-error-content"></small>
                            </div>
                        {{/if}}
                    {{/unless}}
                {{/if}}

                {{#if fe.isHeading}}
                    <div class="building-block__done">
                        <h1 class="section__title mar--sm--bn" data-qa-label="heading">
                            {{fe.Text__c}}
                        </h1>
                    </div>
                {{/if}}

                {{#if fe.isRichText}}
                    <div class="building-block__done" data-qa-label="richText">
                        {{{fe.Rich_Text_Content__c}}}
                    </div>
                {{/if}}

            {{/unless}}
        {{/each}} 
    </div>
</div>