<div class="content pad--md--tm pad--md--bn pad--sm--only--n pad--sm--tm">
    <nav id="formBuildNav" class="nav-bar--sf1 mar--sm--bn review-header">
        <div class="mar--sm--txl">
            <span class="button-group--collapse mar--sm--only--bm float--right-left">
                <div class="button button--secondary text-center js-prev" {{action "clickPrevOrNext" "prev"}}><span class="show-brkpoint--md"><span class="juicon juicon-chevron-left">&nbsp;</span></span>Prev</div>
                <div class="button button--secondary text-center js-next" {{action "clickPrevOrNext" "next"}}>Next<span class="show-brkpoint--md">&nbsp;<span class="juicon juicon-chevron-right"></span></span></div>
            </span>
            <div class="review-stats-container">
                <div class="review-stats text-center">
                    <ul class="review-row">
                        <li class="js-stage-status-button js-tooltipster-button cursor-pointer">
                            <label class="block"><small>Total</small></label>
                            <span class="large-number">{{totalApplicants.total}}</span><span class="juicon juicon-chart-bar text-faded"></span>
                        </li>
                        <li class="js-filled-button js-tooltipster-button cursor-pointer">
                            <label class="block"><small>Filled</small></label>
                            <span class="large-number">{{filledInfo.numFilled}}<span class="text-faded">/{{filledInfo.totalHeadCount}}</span></span><span class="juicon juicon-list text-faded"></span>
                        </li>
                        <li>
                            <label class="block"><small>Open Since</small></label>
                            <div class="cal-container">
                                <div class="top">
                                    <p>{{openSince.approvedOnMonth}}</p>
                                </div>
                                <div class="bottom">
                                    <p>{{openSince.approvedOnDay}}</p>
                                </div>
                            </div>
                            <label>({{openSince.numDaysOpen}} days)</label>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="nav-bar--sf1__title has-subheading page__heading show-brkpoint--sm">Applicants</h1>
            <h2 class="nav-bar--sf1__subtitle page__subheading"><a href="#">Inside Sales Rep</a></h2>
        </div>
    </nav>
    <hr class="show-brkpoint--md"/>
</div>