<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top">
                <h2 data-qa-label="locationTitle" class="modal__heading" id="myModalLabel">{{labels.beforeYouBegin}}</h2>
            </div>
            <div class="modal__body">
                <p data-qa-label="confirmLocation" class="mar--sm--tn">{{labels.confirmLocation}}</p>
                <div class="form__group">
                    <div class="select__wrap">
                        <div class="input__icon juicon juicon-down"></div>
                        {{view "select" 
                                content=locations
                                optionValuePath="content.Location__c"
                                optionLabelPath="content.formattedLocationString"
                                value=selectedLocation
                                data-qa-select="locationSelect"}}
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                <button data-qa-button="cancel" type="button" class="button button--secondary" data-dismiss="modal">{{labels.cancel}}</button>
                <button id="modalOk" data-qa-button="ok" type="button" class="button button--primary theme-bg-color" data-dismiss="modal">{{labels.ok}}</button>
            </div>
        </div>
    </div>
</div>