{{#aljs-modal modalId="contact-info-modal" class=""}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="shareApplicant">{{labels.contactInfo}}</h2>
    </modalHeader>
    <modalBody>
        <div class="slds-grid slds-wrap">
            <!-- Field -->
            <div class="slds-col slds-no-flex slds-size--1-of-2 slds-col--padded slds-m-bottom--medium">
                <p class="slds-text-heading--label" data-qa-label="firstName">{{labels.appFirstName}}</p>
                <p data-qa-label="applicantFirstName">
                    {{#if applicant.First_Name__c}}
                        {{applicant.First_Name__c}}
                    {{else}}
                        <em class="slds-opacity--50" data-qa-label="notProvided">{{labels.notProvided}}</em>
                    {{/if}}
                </p>
            </div>
            <!-- /Field -->
            <!-- Field -->
            <div class="slds-col slds-no-flex slds-size--1-of-2 slds-col--padded slds-m-bottom--medium">
                <p class="slds-text-heading--label" data-qa-label="lastName">{{labels.appLastName}}</p>
                <p data-qa-label="applicantLastName">
                    {{#if applicant.Last_Name__c}}
                        {{applicant.Last_Name__c}}
                    {{else}}
                        <em class="slds-opacity--50" data-qa-label="notProvided">{{labels.notProvided}}</em>
                    {{/if}}
                </p>
            </div>
            <!-- /Field -->
            <!-- Field -->
            <div class="slds-col slds-no-flex slds-size--1-of-2 slds-col--padded slds-m-bottom--medium">
                <p class="slds-text-heading--label" data-qa-label="email">{{labels.appEmail}}</p>
                <p>
                    {{#if applicant.Email__c}}
                        <a href="mailto:{{unbound applicant.Email__c}}" target="_blank" tabindex="-1">{{applicant.Email__c}}</a>
                    {{else}}
                        <em class="slds-opacity--50" data-qa-label="notProvided">{{labels.notProvided}}</em>
                    {{/if}}
                </p>
            </div>
            <!-- /Field -->
            <!-- Field -->
            <div class="slds-col slds-no-flex slds-size--1-of-2 slds-col--padded slds-m-bottom--medium">
                <p class="slds-text-heading--label" data-qa-label="mobile">{{labels.appMobile}}</p>
                <p> 
                    {{#if applicant.Mobile_Phone__c}}
                        {{applicant.Mobile_Phone__c}}
                    {{else}}
                        <em class="slds-opacity--50" data-qa-label="notProvided">{{labels.notProvided}}</em>
                    {{/if}}
                </p>
            </div>
            <!-- /Field -->
        </div>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral slds-button--brand" data-aljs-dismiss="contact-info-modal">{{labels.ok}}</button>
    </modalFooter>
{{/aljs-modal}}