{{#aljs-modal modalId="getting-started-modal" class=""}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="shareApplicant">{{labels.gettingStarted}}</h2>
    </modalHeader>
    <modalBody>
        <article class="pad--sm--bm">
            <div class="part__left">
                <img src="{{unbound labels.gettingStartedImgUrl1}}" width="128">
            </div>
            <div class="part__body vam" data-qa-label="gettingStartedBody1">
                {{labels.gettingStartedBody1}}
            </div>
        </article>
        <article class="pad--sm--bm">
            <div class="part__left">
                <img src="{{unbound labels.gettingStartedImgUrl2}}" width="128">
            </div>
            <div class="part__body vam" data-qa-label="gettingStartedBody2">
                {{labels.gettingStartedBody2}}                            
            </div>
        </article>
        <article class="pad--sm--bm">
            <div class="part__left">
                <img src="{{unbound labels.gettingStartedImgUrl3}}" width="128">
            </div>
            <div class="part__body vam" data-qa-label="gettingStartedBody3">
                {{labels.gettingStartedBody3}}
            </div>
        </article>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral slds-button--brand" data-aljs-dismiss="getting-started-modal" data-qa-button="gotIt">{{labels.gotIt}}</button>
    </modalFooter>
{{/aljs-modal}}