{{#aljs-modal modalId="getting-started-modal" class=""}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="shareApplicant">{{labels.gettingStarted}}</h2>
    </modalHeader>
    <modalBody>
        <div class="slds-grid slds-wrap">
        <div class="slds-col slds-no-flex slds-size--1-of-4 slds-col--padded slds-m-vertical--small">
            <img src="{{unbound labels.gettingStartedImgUrl1}}" width="128">
        </div>
        <div class="slds-col slds-no-flex slds-size--3-of-4 slds-col--padded slds-m-vertical--small">
            {{labels.gettingStartedBody1}}
        </div>
        <div class="slds-col slds-no-flex slds-size--1-of-4 slds-col--padded slds-m-vertical--small">
            <img src="{{unbound labels.gettingStartedImgUrl2}}">
        </div>
        <div class="slds-col slds-no-flex slds-size--3-of-4 slds-col--padded slds-m-vertical--small">
            {{labels.gettingStartedBody2}}                            
        </div>
        <div class="slds-col slds-no-flex slds-size--1-of-4 slds-col--padded slds-m-vertical--small">
            <img src="{{unbound labels.gettingStartedImgUrl3}}">
        </div>
        <div class="slds-col slds-no-flex slds-size--3-of-4 slds-col--padded slds-m-vertical--small">
            {{labels.gettingStartedBody3}}
        </div>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral slds-button--brand" data-aljs-dismiss="getting-started-modal" data-qa-button="gotIt">{{labels.gotIt}}</button>
    </modalFooter>
{{/aljs-modal}}