{{#aljs-modal modalId="googleMapsModal" class="slds-modal--large"}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="whereWillInterviewBeHeld">{{labels.whereWillTheInterviewBeHeld}}</h2>
    </modalHeader>
    <modalBody>
        <input id="pac-input" class="controls to-im-pac-input slds-input" type="text" placeholder="{{unbound labels.enterALocation}}" data-qa-input="location">
        {{#aljs-notification theme="slds-theme--warning" dismissClass="slds-notify__close" class="slds-hide js-geolocationError"}}
            <span class="slds-assistive-text">Info</span>
            <button class="slds-button slds-button--icon-inverse slds-notify__close">
                <svg aria-hidden="true" class="slds-button__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/action-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
            </button>
            <div class="notify__content slds-grid">
                <div class="slds-col slds-align-left">
                    <h2 class="slds-text-heading--small">{{labels.sorryButWeCouldntDetermineYourLocation}}</h2>
                </div>
            </div>
        {{/aljs-notification}}
        <div id="map-canvas" style="height:60vh;"></div>
    </modalBody>
    <modalFooter>
        {{!-- <span class="pad--sm--s alert alert--warning geolocation-alert slide-in" style="margin-right: 5px; padding-top: 10px !important; top: 2px; border-width: 1px; position: relative;" data-qa-alert="couldNotDetermineLocation">
            {{labels.sorryButWeCouldntDetermineYourLocation}}
            <span class="alert-close-x mar--sm--lxs" {{action "clickGeoLocationClose"}} style="position: relative; top: -1px" data-qa-button="closeAlert"></span>
        </span> --}}
        

        <button id="gotoMyLocation" class="slds-button slds-button--neutral" type="button" data-qa-button="gotoMyLocation" style="position:relative; z-index:1;">
            {{labels.goToMyLocation}}
        </button>
        <button {{bind-attr class=":slds-button :slds-button--neutral :slds-button--brand disableLocationSave:disabled" disabled="disableLocationSave"}} data-aljs-dismiss="googleMapsModal" type="button" {{action "clickSelectGoogleLocation"}} data-qa-button="useThisPlace" style="position:relative; z-index:1;">
            {{labels.useThisPlace}}
        </button>
    </modalFooter>
{{/aljs-modal}}