{{#aljs-modal modalId="reproposeNotAcceptedModal" hasCustomCloseButton="true"}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="updateInvitation">{{labels.notifyApplicantToChooseTime}}</h2>
        <button class="slds-button slds-modal__close slds-button--icon-inverse" data-aljs-dismiss="reproposeNotAcceptedModal" {{action "clickCancelModal"}} data-qa-button="closeModal">
            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--inverse slds-button__icon--large">
                <use xlink:href="{{unbound assetsLocation}}/assets/icons/action-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
        </button>
    </modalHeader>
    <modalBody>
        <p data-qa-label="reproposeNotAcceptedBody">
            {{labels.reproposeModalBody}}
        </p>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral" {{action "clickCancelModal"}} data-aljs-dismiss="reproposeNotAcceptedModal" type="button" data-qa-button="cancel">{{labels.cancel}}</button>
        <button class="slds-button slds-button--neutral slds-button--brand" {{action "clickConfirmSave"}} data-aljs-dismiss="reproposeNotAcceptedModal" type="button" data-qa-button="continue">{{labels.continue}}</button>
    </modalFooter>
{{/aljs-modal}}