<div class="modal fade" id="reproposeNotAcceptedModal" tabindex="-1" role="dialog" aria-labelledby="reproposeNotAcceptedModalLabel" aria-hidden="true" data-qa-container="updateInvitationModal">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top">
                <button type="button" class="close" data-dismiss="modal" {{action "clickCancelModal"}} data-qa-button="closeModal">
                    <span class="close-modal-x"></span>
                </button>
                <h2 class="modal__heading" id="myModalLabel" data-qa-label="updateInvitation">{{labels.notifyApplicantToChooseTime}}</h2>
            </div>
            <div class="modal__body">
                <div class="mar--sm--bm" data-qa-label="reproposeNotAcceptedBody">
                    {{labels.reproposeModalBody}}
                </div>
            </div>
            <div class="modal__footer">
                <button class="button button--secondary" {{action "clickCancelModal"}} data-dismiss="modal" type="button" data-qa-button="cancel">{{labels.cancel}}</button>
                <button type="button" class="button button--primary" {{action "clickConfirmSave"}} data-dismiss="modal" data-qa-button="continue">{{labels.continue}}</button>
            </div>
        </div>
    </div>
</div>