<div aria-hidden="false" aria-labelledby="sendICSModalLabel" class="modal fade in" id="sendICSModal" role="dialog" tabindex="-1" data-qa-container="sendICSModal">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top pad--sm--bn">
                <button class="close" data-dismiss="modal" type="button" {{action "clickCancelModal"}} data-qa-button="closeModal">
                    <span class="close-modal-x"></span>
                </button>
                <h2 class="modal__heading" data-qa-label="sendCalendarInvites">
                    {{labels.sendCalendarInvitations}}
                </h2>
            </div>
            <div class="panel__body pad--sm--xl">
                <p data-qa-label="sendInvitesModalBody">
                    {{labels.sendICSModalBody1}}
                </p>
            </div>
            <div class="modal__footer pad--sm--tn">
                <button class="button button--secondary" {{action "clickCancelModal"}} data-dismiss="modal" type="button" data-qa-button="cancel">{{labels.cancel}}</button>
                <button class="button button--primary" {{action "clickSendInvitations"}} data-dismiss="modal" type="button" data-qa-button="continue">{{labels.continue}}</button>
            </div>
        </div>
    </div>
</div>