{{#aljs-modal modalId="sendEmailToApplicantModal" hasCustomCloseButton="true"}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="notifyApplicant">{{labels.notifyApplicantToChooseTime}}</h2>
        <button class="slds-button slds-modal__close slds-button--icon-inverse" data-aljs-dismiss="sendEmailToApplicantModal" {{action "clickCancelModal"}} data-qa-button="closeModal">
            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--inverse slds-button__icon--large">AAAAA
                <use xlink:href="{{unbound assetsLocation}}/assets/icons/action-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
        </button>
    </modalHeader>
    <modalBody>
        <p data-qa-label="sendEmailBody1">
            {{labels.sendEmailModalBody1}}
        </p>
        <p data-qa-label="sendEmailBody2">
            {{labels.sendEmailModalBody2}}
        </p>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral" {{action "clickJustSave"}} data-aljs-dismiss="sendEmailToApplicantModal" type="button" data-qa-button="saveDontSend">{{labels.saveDontSendYet}}</button>
        <button class="slds-button slds-button--neutral slds-button--brand" {{action "clickSendEmail"}}  data-aljs-dismiss="sendEmailToApplicantModal" type="button" data-qa-button="saveAndSend">{{labels.saveAndSend}}</button>
    </modalFooter>
{{/aljs-modal}}