<a class="pad--sm--m">
    <h4 class="card__heading dots">{{application.First_Name__c}} {{application.Last_Name__c}}</h4>
    <h5 class="card__subheading dots">Resumes <span class="feedback-icon"><span class="juicon juicon-like"></span> {{application.resumeFeedbackScore.positiveFeedback}}</span><span class="feedback-icon"><span class="juicon juicon-dislike"></span> {{application.resumeFeedbackScore.negativeFeedback}}</span><span class="feedback-icon"><span class="juicon juicon-question-circle"></span> {{application.resumeFeedbackScore.neutralFeedback}}</span></h5>
</a>