{{!-- <div id="mobileMainView"> --}}

    <div id="mobileMainView" class="scope-container">
        <div class="content pad--md--tm pad--md--bn pad--sm--only--n pad--sm--tm">
            <nav id="formBuildNav" class="nav-bar--sf1 mar--sm--bn">
                <h1 class="nav-bar--sf1__title has-subheading page__heading show-brkpoint--sm">Applicants</h1>
                <h2 class="nav-bar--sf1__subtitle page__subheading"><a href="/{{unbound requisition.Id}}">{{requisition.Name}}</a></h2>
            </nav>
            <hr class="show-brkpoint--md">
        </div>
        <div class="content">
            <div class="row">
                <div class="column--md--12 pad--sm--n mar--md--m">
                    {{partial "viewApplicantsHeaderMobile"}}
                    
                    <div class="card no-border-on-small">
                        
                        <section class="pad--sm--m pad--sm--bl">
                            {{search-filter ctrl=controller filters=filters filterOptions=filterOptions applicationStageAndStatuses=applicationStageAndStatuses applicationSources=applicationSources locations=locations params=initParams}}
                        </section>
                        <!-- /Filters and Results -->


                        {{#if isLoadingResults}}
                            <div class="content pad--md--ts pad--sm--only--n pad--sm--tm">
                                <div class="content__section">
                                    <div class="load-block">
                                        <div class="load-block-icon"></div>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <section class="pad--sm--m border-top bg-2">
                                <h3 class="mar--sm--n">Results: {{results.numberViewable}}<span class="text-faded">/{{results.total}}</span></h3>

                                <!-- Sort-->
                                <h4 class="mar--sm--n mar--sm--ts">Sort by</h4>
                                <div class="form-group">
                                    <div class="select__wrap">
                                        <div class="input__icon juicon juicon-down"></div>
                                        {{!-- <select class="pad--sm--rxl small">
                                            <option value="application-rating">Application Rating</option>
                                            <option value="applied-on-date">Applied On Date</option>
                                            <option value="interview-feedback">Interview Feedback</option>
                                            <option value="last-name">Last Name</option>
                                            <option value="resume-feedback">Resume Feedback</option>
                                        </select> --}}

                                        {{view "select" 
                                            class="pad--sm--rxl small"
                                            content=sortOptions 
                                            optionLabelPath="content.label"
                                            optionValuePath="content.value"
                                            value=sortType}}
                                    </div>
                                </div>
                            </section>
                            
                            <div class="list-group list-group--bordered mar--sm--n bg-1 applicant-list-group no-border-on-small">
                                {{#each application in results.viewableApplications itemController="result"}}

                                    {{!-- <a href="to_applicationReader?id={{unbound application.Id}}"> --}}
                                        <div class="list-group__item applicant-entry mobile">
                                            <div class="pad--sm--m pad--sm--bn">
                                                <h4 class="card__heading dots"><a {{action "viewApplicationReader"}} href="#">{{application.Name}}</a></h4>
                                                <h5 class="card__subheading dots" style="display: inline-block">Status: {{application.Final_Stage__c}} ({{application.Final_Status__c}})</h5>

                                                <div class="mar--sm--ts">
                                                    <small class="block dots"><label>Source:</label> {{application.Source__c}}</small>
                                                    <small class="block dots mar--sm--bxs"><label>Applied On:</label> {{formatDate application.Applied_On__c}} {{#if otherAppsLength}}(<a {{action "openApplicationModal"}} href="#">{{otherAppsLength}} more</a>){{/if}}</small>
                                                </div>

                                                <div class="mar--sm--tm clearfix">
                                                    <div class="column column--sm--6">
                                                        <small class="block dots">
                                                            <label><span class="juicon juicon-document"></span> 
                                                                <a {{action "viewResume"}} href="#"> Resume (37KB)</a>
                                                            </label>
                                                        </small>
                                                    </div>
                                                    <div class="column column--sm--6">
                                                        <small class="block dots">
                                                            <label><span class="juicon juicon-linkedin"></span> 
                                                                <a {{action "loadLinkedIn"}} href="#"> 
                                                                    {{#if application.isLinkedIn}} Profile {{else}} Search{{/if}}</a>
                                                            </label>
                                                        </small>
                                                    </div>
                                                </div>

                                                <div class="mar--sm--tm">
                                                    <table class="table--fixed applicant-stats">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <small class="block dots"><label>
                                                                        <span class="juicon juicon-list" data-toggle="tooltip" title="" data-original-title="Application Rating"></span></label> 
                                                                        <span class="text-success">{{application.Raw_Score__c}}</span>/{{application.Maximum_Score__c}}
                                                                    </small>
                                                                </td>
                                                                {{#if isSortByResumeFeedback}}
                                                                    <td>
                                                                        <small class="block dots"><label><span class="juicon juicon-like" data-toggle="tooltip" title="" data-original-title="Positive Interview Feedback"></span></label> {{application.resumeFeedbackScore.positiveFeedback}}</small>
                                                                    </td>
                                                                    <td>
                                                                        <small class="block dots"><label><span class="juicon juicon-dislike" data-toggle="tooltip" title="" data-original-title="Negative Interview Feedback"></span></label> {{application.resumeFeedbackScore.negativeFeedback}}</small>
                                                                    </td>
                                                                    <td>
                                                                        <small class="block dots"><label><span class="juicon juicon-question-circle" data-toggle="tooltip" title="" data-original-title="Neutral Interview Feedback"></span></label> {{application.resumeFeedbackScore.neutralFeedback}}</small>
                                                                    </td>
                                                                {{else}}

                                                                    <td>
                                                                        <small class="block dots"><label><span class="juicon juicon-like" data-toggle="tooltip" title="" data-original-title="Positive Interview Feedback"></span></label> {{application.interviewFeedbackScore.positiveFeedback}}</small>
                                                                    </td>
                                                                    <td>
                                                                        <small class="block dots"><label><span class="juicon juicon-dislike" data-toggle="tooltip" title="" data-original-title="Negative Interview Feedback"></span></label> {{application.interviewFeedbackScore.negativeFeedback}}</small>
                                                                    </td>
                                                                    <td>
                                                                        <small class="block dots"><label><span class="juicon juicon-question-circle" data-toggle="tooltip" title="" data-original-title="Neutral Interview Feedback"></span></label> {{application.interviewFeedbackScore.neutralFeedback}}</small>
                                                                    </td>
                                                                {{/if}}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {{!-- </a> --}}
                                {{/each}}

                            </div>
                        {{/if}}

                        
                        <div {{bind-attr class=":mar--sm--m :bg-2 hideLoadMoreButton:hide"}}>
                            <div class="text-center mar--sm--tm">
                                <a {{action "clickLoadMore"}} href="#" class="button button--secondary button--full js-load-more"><small>Load More</small></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Filter Modal (Stats) -->
        {{partial "viewApplicantsStageStatus"}}
        <!-- /Filter Modal (Stats) -->

        
        <!-- Filled Modal (Stats) -->
        {{partial "viewApplicantsFilled"}}
        <!-- /Filled Modal -->

        <button id="back-to-top" class="button button--primary"><span class="juicon juicon-upward"></span></button>
    </div>
{{!-- </div> --}}