<section id="summary">
    <div class="list-heading">
        <h4 class="list-heading__title">Summary</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        {{#link-to "summaryEdit" type="button" tagName="button" classNames="button button--primary button--ghost float--right mar--sm--lm"}}
            <span class="juicon juicon-pencil"></span>
        {{/link-to}}
            
        </button>
        <p class="mar--sm--tn">
            {{Summary__c}}
        </p>
    </div>
</section>
<section id="projects">
    <div class="list-heading">
        <h4 class="list-heading__title">Projects</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        {{#each project in projects}}
            <article class="mar--sm--bm">
                {{#link-to "projectsEdit" project.eId type="button" tagName="button" classNames="button button--primary button--ghost float--right mar--sm--lm"}}
                    <span class="juicon juicon-pencil"></span>
                {{/link-to}}
                <h3 class="mar--sm--n">{{project.Name}}</h3>
                <small class="text-faded">{{project.Start_Date__c}} to {{project.End_Date__c}}</small>
                <p>
                    {{project.Description__c}}
                </p>
                <i>
                    Skills: User Experience Design, Interaction Design, Product Design
                </i>
                <hr class="hr-alt"/>
            </article>
        {{/each}}
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="recognition">
    <div class="list-heading">
        <h4 class="list-heading__title">Recognition</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3><a href="#">Force.com MVP 2014 (Renewed)</a></h3>
            <small class="text-faded block">Salesforce.com</small>
            <small class="text-faded">Jan 1, 2014</small>
            <p>
                The Force.com MVP Program recognizes outstanding contributors and technological leaders in the Force.com cloud platform ecosystems. These Force.com MVPs are being called out for willingly sharing their expertise with others, demonstrating stewardship of the community in which they play an integral part, advancing the community body of knowledge and strengthening the developer network.
            </p>
            <i>
                Skills: Salesforce.com, Force.com, Peer Training, Community Stewardship
            </i>
            <hr class="hr-alt"/>
        </article>
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3><a href="#">Force.com MVP 2013 (Renewed)</a></h3>
            <small class="text-faded block">Salesforce.com</small>
            <small class="text-faded">Jan 6, 2013</small>
            <p>
                The Force.com MVP Program recognizes outstanding contributors and technological leaders in the Force.com cloud platform ecosystems. These Force.com MVPs are being called out for willingly sharing their expertise with others, demonstrating stewardship of the community in which they play an integral part, advancing the community body of knowledge and strengthening the developer network.
            </p>
            <i>
                Skills: Salesforce.com, Force.com, Peer Training, Community Stewardship
            </i>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="performanceRatings">
    <div class="list-heading">
        <h4 class="list-heading__title">Performance Ratings</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>Exceeds Expectations (4)</h3>
            <small class="text-faded">Feb 15, 2015 ● Architect</small>
            <div class="card mar--sm--tm">
                <div class="card__body">
                    <p class="mar--sm--n">
                        “Ross has made significant progress recently, especially in the size and complexity of challenges he has tackled. I’m looking for continued great work throughout the year.”
                    </p>
                    <div class="text-right">
                        <a href="#" class="block">
                            Ray Chambers
                        </a>
                        VP of Engineering
                    </div>
                </div>
            </div>
            <hr class="hr-alt"/>
        </article>
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>Meets Expectations (3)</h3>
            <small class="text-faded">Aug 14, 2014 ● Architect</small>
            <div class="card mar--sm--tm">
                <div class="card__body">
                    <p class="mar--sm--n">
                        “Ross has made significant progress recently, especially in the size and complexity of challenges he has tackled. I’m looking for continued great work throughout the year.”
                    </p>
                    <div class="text-right">
                        <a href="#" class="block">
                            Ray Chambers
                        </a>
                        VP of Engineering
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<section id="traning">
    <div class="list-heading">
        <h4 class="list-heading__title">Training and Development</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3><a href="#">Managing Product Definition and Design</a></h3>
            <small class="text-faded block">Cooper U</small>
            <small class="text-faded">Jun 1, 2015</small>
            <p>
                Students walk away knowing how to: communicate business and customer goals in clear, actionable, memorable ways; use narrative to craft a compelling product vision; ensure cross-functional teams understand that vision and how to make decisions in service of it; generate product requirements that are grounded in the best user experience.
            </p>
            <i>
                Skills: Product Vision, Collaboration, Requirements Management
            </i>
            <hr class="hr-alt"/>
        </article>
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3><a href="#">Cranky Talk Workshop for New Speakers</a></h3>
            <small class="text-faded block">Dan Willis et. al.</small>
            <small class="text-faded">Aug 22, 2013</small>
            <p>
                Cranky Talk is an intense, day-long workshop for people intent on being exceptional public speakers.
            </p>
            <i>
                Skills: Public Speaking, Presentations, Communication
            </i>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="otherSkills">
    <div class="list-heading">
        <h4 class="list-heading__title">Other Skills</h4>
    </div>
    <div class="panel__body">
        <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
            <span class="juicon juicon-pencil"></span>
        </button>
        Apex; CSS; HTML; Javascript
    </div>
</section>
<section id="publications">
    <div class="list-heading">
        <h4 class="list-heading__title">Publications</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3><a href="#">UX Design on the Salesforce1 Platform</a></h3>
            <small class="text-faded">May 14, 2015 ● Peachpit Press</small>
            <p>
                A short book on how to design compelling experiences for enterprise apps using the Salesforce1 Platform.
            </p>
            <hr class="hr-alt"/>
        </article>
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3><a href="#">Design Is a Job</a></h3>
            <small class="text-faded">April 10, 2012 ● A Book Apart</small>
            <p>
                Ross Belmont wants to help you do your job better. From contracts to selling design, from working with clients to working with each other, you’ll learn why navigating the business of design is just as important as the craft of it. Cultivated from his own experience, Ross packs this brief book with knowledge you can’t afford not to know.
            </p>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="patents">
    <div class="list-heading">
        <h4 class="list-heading__title">Patents</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3><a href="#">Security device for computers</a></h3>
            <small class="text-faded block">US5016758 A (USPTO)</small>
            <small class="text-faded">Feb 7, 2011 (Granted)</small>
            <p>
                A security device for computing devices wherein a strong flexible cable is fastened at one end to a lock, carried on a hanger, or to a bar on a clothing stand, which cable passes through part of the housing and the other end of the cable is detachably secured in the lock to releasably secure the machine.
            </p>
            <hr class="hr-alt"/>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="recommendations">
    <div class="list-heading">
        <h4 class="list-heading__title">Recommendations</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <div class="card mar--sm--tm">
                <div class="card__body">
                    <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                        <span class="juicon juicon-pencil"></span>
                    </button>
                    <p class="mar--sm--n">
                        “Ross is a talented UX designer, writer, speaker and workshop facilitator. He is also an authentic, generous and thoughtful human being who gives himself fully to the things he is passionate about. As a speaker and writer, his ideas are insightful and his prose is clean, clear and engaging. As a workshop facilitator I’ve never seen anyone better.”
                    </p>
                    <div class="text-right">
                        <a href="#" class="block">
                            Dave Gray
                        </a>
                        Co-founder at Boardthing.com
                    </div>
                </div>
            </div>
            <hr class="hr-alt"/>
        </article>
        <article class="mar--sm--bm">
            <div class="card mar--sm--tm">
                <div class="card__body">
                    <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                        <span class="juicon juicon-pencil"></span>
                    </button>
                    <p class="mar--sm--n">
                        “Ross is a highly talented and thoughtful User Experience Designer. He’s able to easily tackle complex information architecture problems, creating user experiences that are intuitive, fun and creative. His humor and collaborative attitude make him a pleasure to work with. I’d be happy to work with him again, given the opportunity.”
                    </p>
                    <div class="text-right">
                        <a href="#" class="block">
                            John Devoy
                        </a>
                        Assistant Vice Provost Digital Marketing Strategy @ ASU Online
                    </div>
                </div>
            </div>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="certifications">
    <div class="list-heading">
        <h4 class="list-heading__title">Certifications</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>Force.com Developer</h3>
            <small class="text-faded block">Salesforce.com (DEV 401)</small>
            <small class="text-faded">July 2009 to Present</small>
            <i>
                Skills: Salesforce.com, Force.com Development
            </i>
            <hr class="hr-alt"/>
        </article>
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>ASU Online redesign</h3>
            <small class="text-faded">Jul 2008 to Feb 2009</small>
            <p>
                Redesigned ASU Online to focus on increasing prospective student enrollments. Implemented ongoing SEO and content strategy plan to continually increase conversions and brand trust.
            </p>
            <i>
                Skills: User Experience Design, Interaction Design, Product Design
            </i>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="employment">
    <div class="list-heading">
        <h4 class="list-heading__title">Employment</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>Chief Experience Designer</h3>
            <small class="text-faded block">Appiphony, LLC</small>
            <small class="text-faded">May 2010 to Present</small>
            <p>
                I am extremely proud to have formalized a design-driven development practice for our ISV clients. My goal in doing so is to bring the best design thinking anywhere to software on the Force.com platform. Appiphony’s leadership and developers understand the benefits good design can bring, and we are doing the best work in our market.
            </p>
            <hr class="hr-alt"/>
        </article>
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>Architect</h3>
            <small class="text-faded block">EDL Consulting</small>
            <small class="text-faded">July 2009 - May 2010</small>
            <p>
                EDL Consulting is a national technology services firm specializing in the intelligent integration of eCommerce, CRM and business intelligence solutions to improve business performance. EDL solves the complex systems integration issues behind state-of-the-art technology solutions to make organizations more successful. The solutions EDL builds generate revenue, result in cost savings, promote differentiation and make it easier for clients to do business with their customers.
            </p>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="educations">
    <div class="list-heading">
        <h4 class="list-heading__title">Education</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>University of Illinois at Urbana-Champaign</h3>
            <small class="text-faded block">BS, MIS</small>
            <small class="text-faded">1996-2000</small>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>
<section id="languages">
    <div class="list-heading">
        <h4 class="list-heading__title">Languages</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
            <span class="juicon juicon-pencil"></span>
        </button>
        <ul class="mar--sm--tn">
            <li>English (Native or bilingual proficiency)</li>
            <li>Japanese (Elementary proficiency)</li>
            <li>Spanish (Limited working proficiency)</li>
        </ul>
    </div>
</section>
<section id="volunteering">
    <div class="list-heading">
        <h4 class="list-heading__title">Volunteering</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <article class="mar--sm--bm">
            <button type="button" class="button button--primary button--ghost float--right js-edit-section mar--sm--lm">
                <span class="juicon juicon-pencil"></span>
            </button>
            <h3>CASA of Kane County</h3>
            <small class="text-faded">Board Member</small>
            <p>
                CASA Kane County recruits, trains and supervises community volunteers who serve as Court Appointed Special Advocates (CASAs) for children in court due to abuse, neglect or private guardianship.
            </p>
        </article>
        <hr class="hr-alt">
        <button class="button button--primary button--ghost width--full mar--sm--bm" type="button">
            <span class="juicon juicon-plus"></span> Add
        </button>
    </div>
</section>