{{#if talentProfile.camelizedModel.summary}}
    <div class="slds-card slds-overflow--hidden">
        <div class="slds-card__header">
            <h3 class="slds-text-heading--label slds-truncate">{{labels.summary}}</h3>
        </div>
        <div class="slds-card__body slds-p-around--small">
            <div class="slds-card slds-theme--default slds-p-around--medium slds-text-longform">
                <p>{{convertNewLinesToBreaks talentProfile.Summary__c}}</p>
            </div>
        </div>
    </div>
{{/if}}
<div class="slds-card slds-overflow--hidden">
    <div class="slds-card__header">
        <h3 class="slds-text-heading--label slds-truncate">{{labels.applicationForm}}</h3>
    </div>
    <div class="slds-card__body slds-p-around--small">
        <div class="slds-card slds-theme--default slds-p-around--medium">
            {{#if application.hasScore}}
                <h4 class="slds-text-heading--small">{{labels.rating}}: 
                    <strong class="to-va-rating--positive">
                        {{application.score}}
                    </strong>
                    {{#if application.showMax}}/{{application.Maximum_Score__c}}{{/if}}
                </h4>
            {{else}}
                <strong data-qa-label="noRating" class="text-faded">{{labels.rating}} {{labels.na}}</strong>
            {{/if}}
        </div>
        {{#if jobQuestions}}
            <div class="slds-card slds-theme--default slds-p-around--medium">
                <h4 class="slds-text-heading--small">{{labels.jobSpecificQuestions}}</h4>
                <ul class="slds-list--vertical slds-has-dividers slds-m-top--xx-small">
                    {{#each jobQuestions}}
                        <!-- Positive Entry -->
                        <li class="slds-list__item">
                            <p class="slds-text-body--small">{{Question__c}}</p>
                            <p>
                                {{{Value__c}}}
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        {{#if generalQuestions}}
            <div class="slds-card slds-theme--default slds-p-around--medium">
                <h4 class="slds-text-heading--small">{{labels.generalQuestions}}</h4>
                <ul class="slds-list--vertical slds-has-dividers slds-m-top--xx-small">
                    {{#each generalQuestions}}
                        <li class="slds-list__item">
                            <p class="slds-text-body--small">{{Question__c}}</p>
                            <p>
                                {{{Value__c}}}
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</div>
<div class="slds-card">
    <div class="slds-card__header slds-p-bottom--none slds-clearfix">
        <h3 class="slds-text-heading--label slds-truncate slds-float--left">{{labels.feedback}}</h3>
        <div class="slds-float--right">
            <button class="slds-button slds-button--neutral slds-button--small" {{action "clickProvideFeedbackInline"}}>
                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--left">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#comments"></use>
                </svg>
                {{labels.provideFeedback}}
            </button>
        </div>
    </div>
    <div class="slds-card__body slds-p-around--small">
        {{#if isInlineFeedbackVisible}}
            {{provide-feedback-inline ctrl=this}}
        {{/if}}

        {{#each evaluations itemController="feedback"}}
            <div class="slds-card slds-theme--default">
                <div class="slds-tile slds-grid">
                    <div class="slds-col slds-no-flex slds-m-right--small">
                        <span class="slds-icon__container" data-aljs="tooltip" {{bind-attr title="tooltipText"}}>
                            <svg aria-hidden="true" {{bind-attr class=":slds-icon :slds-icon-text-default :slds-icon--x-small iconClass"}}>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#{{unbound icon}}"></use>
                            </svg>
                            <span class="slds-assistive-text">{{tooltipText}}</span>
                        </span>
                    </div>
                    <div class="slds-col">
                        <h4 class="slds-text-heading--small slds-truncate">{{headerText}}</h4>
                        <div class="slds-tile__detail slds-text-body--small">
                            {{#unless hasFinal}}
                                {{#if camelizedModel.interviewR.camelizedModel.topics}}
                                    <p data-qa-label="feedbackInterviewers">{{labels.interviewWith}} {{#with Interview__r}}{{Interviewers__c}}{{/with}}</p>
                                {{/if}}
                            {{/unless}}
                            <ul class="slds-list--horizontal slds-has-dividers slds-tile__meta">
                                <li class="slds-list__item">{{#with CreatedBy}}{{Name}}{{/with}}</li>
                                <li class="slds-list__item">{{formattedDate}}</li>
                            </ul>
                        </div>

                        {{#unless hasFinal}}
                            {{#unless isResumeReview}}
                                {{#if criteriaFields}}
                                    <hr class="slds-m-top--small slds-m-bottom--small">
                                    <div class="slds-grid">
                                        {{#each criteriaFields itemController="addLabels"}}
                                            <div class="slds-col ">
                                                <p class="slds-text-body--small">{{label}}</p>
                                                {{#if value}}
                                                    <p>{{value}}</p>
                                                {{else}}
                                                    <p data-qa-label="notProvided">{{labels.notProvided}}</p>
                                                {{/if}}
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            {{/unless}}
                        {{/unless}}
                        {{#if camelizedModel.disposition}}
                            <hr class="slds-m-top--small slds-m-bottom--small">
                            <div class="slds-grid">
                                <div class="slds-col ">
                                    <p class="slds-text-body--small">{{labels.disposition}}</p>
                                    <p>{{Disposition__c}}</p>
                                </div>
                            </div>
                        {{/if}}
                        {{#if camelizedModel.comments}}
                            <hr class="slds-m-top--small slds-m-bottom--small" data-qa-label="comments">
                                "{{convertNewLinesToBreaks Comments__c}}"
                        {{/if}}
                    </div>
                </div>
            </div>
        {{else}}
            {{#unless isInlineFeedbackVisible}}
                <em class="slds-opacity--50 slds-show js-inline-empty">{{labels.noneProvided}}</em>            
            {{/unless}}
        {{/each}}
    </div>
</div>
{{!--
<section id="application-form">
    <div class="list-heading">
        <h4 data-qa-label="applicationForm" class="list-heading__title">{{labels.applicationForm}}</h4>
    </div>
    <div class="panel__body pad--sm--bn">
        <p class="mar--sm--tn">
            {{#if application.hasScore}}
                {{labels.rating}}<strong data-qa-label="score" {{bind-attr class="application.ratingColor"}}> {{application.score}}</strong>
                {{#if application.showMax}}<span data-qa-label="maxScore" class="text-faded"> ({{labels.outOf}} {{application.Maximum_Score__c}}){{/if}}</span>
            {{else}}
                <strong data-qa-label="noRating" class="text-faded">{{labels.rating}} {{labels.na}}</strong>
            {{/if}}
        </p>
    </div>
    {{#if jobQuestions}}
        <div class="panel__component">
            <label data-qa-label="jobSpecificQuestions">{{labels.jobSpecificQuestions}}</label>
            {{#each jobQuestions}}
                <article class="card mar--sm--tm mar--sm--bxs">
                    <div class="card__body">
                        <div><small data-qa-label="jobQuestion">{{Question__c}}</small></div>
                        <div data-qa-label="jobValue" class="mar--sm--txs">{{{Value__c}}}</div>
                    </div>
                </article>
            {{/each}}
        </div>
    {{/if}}
    {{#if generalQuestions}}
        <div class="panel__component">
            <label data-qa-label="generalQuestions">{{labels.generalQuestions}}</label>
            {{#each generalQuestions}}
                <article class="card mar--sm--tm mar--sm--bxs">
                    <div class="card__body">
                        <div><small data-qa-label="generalQuestion">{{Question__c}}</small></div>
                        <div data-qa-label="generalValue" class="mar--sm--txs">{{{Value__c}}}</div>
                    </div>
                </article>
            {{/each}}
        </div>
    {{/if}}
</section>--}}
<div class="slds-card">
    <div class="slds-card__header slds-p-bottom--none slds-clearfix">
        <h3 class="slds-text-heading--label slds-truncate slds-float--left">{{labels.interviews}}</h3>
        <div class="slds-float--right">
            <button class="slds-button slds-button--neutral slds-button--small" {{action "addInterview"}}>
                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--left">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#new"></use>
                </svg>
                {{labels.addInterview}}
            </button>
        </div>
    </div>
    <div class="slds-card__body slds-p-around--small">
        {{#each interviews itemController="interview"}}
            <div class="slds-card slds-theme--default">
                <div class="slds-tile slds-grid">
                    <div class="slds-col slds-no-flex slds-m-right--small">
                        <span class="slds-icon__container" data-aljs="tooltip" title="{{unbound labels.interviewNoColon}}">
                            <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon--x-small">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                            </svg>
                            <span class="slds-assistive-text">Event Icon</span>
                        </span>
                    </div>
                    <div class="slds-col">
                        <h4 class="slds-text-heading--small slds-truncate slds-expanded">
                            <a data-qa-link="interview" {{bind-attr href="interviewUrl"}}>{{formattedStartDate}}</a>
                            {{#unless isSF1}}<span data-aljs="tooltip" {{bind-attr title="otherTooltipText"}}> {{otherText}}</span>{{/unless}}
                            <span {{bind-attr class=":slds-badge statusColor"}} data-qa-label="interviewStatus">{{Status__c}}</span>
                        </h4>
                        <hr class="slds-m-top--small slds-m-bottom--small">
                        <div class="slds-grid">
                            <div class="slds-col">
                                <p class="slds-text-body--small">{{labels.interviewers}}</p>
                                <p>
                                    {{#if camelizedModel.interviewers}}
                                        {{Interviewers__c}}
                                    {{else}}
                                        <span data-qa-label="noInterviews">{{labels.notProvided}}</span>
                                    {{/if}}
                                </p>
                            </div>
                            <div class="slds-col">
                                <p class="slds-text-body--small">{{labels.topics}}</p>
                                <p>
                                    {{#if camelizedModel.topics}}
                                        {{Topics__c}}
                                    {{else}}
                                        <span data-qa-label="noTopics">{{labels.notProvided}}</span>
                                    {{/if}}
                                </p>
                            </div>
                            {{#if isCompleted}}
                                <div class="slds-col">
                                    <p class="slds-text-body--small">{{labels.feedback}}</p>
                                    <p>{{Feedback_Provided__c}}</p>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <em class="slds-opacity--50 slds-show js-inline-empty">{{labels.noneProvided}}</em>
        {{/each}}
    </div>
</div>
{{#with talentProfile as tp}}
    {{partial "childrenObjects"}}
{{/with}}
<div class="slds-card slds-overflow--hidden">
    <div class="slds-card__header">
        <h3 class="slds-text-heading--label slds-truncate" data-qa-label="contactInformation">{{labels.contactInformation}}</h3>
    </div>
    <div class="slds-card__body slds-p-around--small">
        <!-- Card -->
        <div class="slds-card slds-theme--default slds-p-horizontal--medium slds-p-bottom--medium">
            <!-- Fieldset -->
            <div class="slds-grid slds-wrap">
                {{#each contactRow in contactRows}}
                    {{#each contactRow}}
                        <div data-qa-label="rowValue" class="slds-col slds-no-flex slds-size--1-of-5 slds-m-top--medium">
                            <p class="slds-text-body--small">{{label}}</p>
                            <p class="slds-truncate">
                                {{#if value}}
                                    {{#if isEmail}}
                                        <a {{bind-attr href="emailLink"}}>{{{value}}}</a>
                                    {{else}}
                                        {{{value}}}
                                    {{/if}}
                                {{else}}
                                    <span data-qa-label="notProvided">{{labels.notProvided}}</span>
                                {{/if}}
                            </p>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>
</div>