<div class="slds-tile slds-tile--board">
    {{application.First_Name__c}} {{application.Last_Name__c}}
    <small class="slds-show to-va-sort-info">{{labels.interviews}}: 
        <span class="to-va-feedback-container">
            <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                <use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
            <span class="slds-assistive-text">Positive</span>
            {{application.interviewFeedbackScore.positiveFeedback}}
        </span>
        <span class="to-va-feedback-container">
            <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default slds-icon--flip-x">
                <use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
            <span class="slds-assistive-text">Negative</span>
            {{application.interviewFeedbackScore.negativeFeedback}}
        </span>
        <span class="to-va-feedback-container">
            <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                <use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#help"></use>
            <span class="slds-assistive-text">Neutral</span>
            </svg>
            {{application.interviewFeedbackScore.neutralFeedback}}
        </span>
    </small>
</div>