{{#aljs-modal modalId="status-modal" class=""}}
    <modalHeader>
        <h2 class="slds-text-heading--medium">{{labels.updateStatus}}</h2>
    </modalHeader>
    <modalBody>
        <div class="slds-notify slds-notify--alert slds-theme--alert-texture slds-m-bottom--medium" role="alert">
            <span class="slds-assistive-text">Warning</span>
            <h2>
                <svg aria-hidden="true" class="slds-icon slds-icon--small slds-m-right--x-small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                </svg>
                {{labels.updateStatusModalBody1}} {{results.total}} {{labels.updateStatusModalBody2}}
            </h2>
        </div>
        <div class="slds-form--stacked">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="stage">{{labels.stage}}</label>
                <div class="slds-form-element__control">
                    {{view "select" class="slds-select" content=applicationStages value=selectedBulkStage data-qa-select="selectedBulkStage" prompt=labels.selectPlaceHolder}}
                </div>
            </div>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="status">{{labels.status}}</label>
                <div class="slds-form-element__control">
                    {{view "select" class="slds-select" content=applicationStatuses value=selectedBulkStatus data-qa-select="selectedBulkStatus" prompt=labels.selectPlaceHolder}}
                </div>
            </div>
        </div>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral" data-aljs-dismiss="status-modal" tabindex="-1">{{labels.cancel}}</button>
        <button class="slds-button slds-button--brand" data-aljs-dismiss="status-modal" tabindex="-1" {{bind-attr disabled="disableConfirmBulkUpdate"}} {{action "clickConfirmBulkUpdate"}} data-qa-button="update">{{labels.update}} {{results.total}} {{labels.applicantsCapitalizedParens}}</button>
    </modalFooter>
{{/aljs-modal}}