{{#aljs-modal modalId="share-modal" class=""}}
    <modalheader>
        <h2 class="slds-text-heading--medium" data-qa-label="shareApplicant">{{labels.shareApplicantList}}</h2>
    </modalHeader>
    <modalBody>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                {{input type="text" class="slds-input" value=shareUrl}}

                {{#if hiringManager}}
                    <label class="block mar--sm--bn mar--sm--tm" data-qa-label="hiringManager">{{labels.hiringManager}}</label>
                    <div data-qa-label="hiringManagerName">{{hiringManager.Name}}</div>
                    <a {{bind-attr href="mailLink"}} data-qa-link="hiringManagerEmail">{{hiringManager.Email}}</a>
                {{/if}}    
            </div>
        </div>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral slds-button--brand" data-aljs-dismiss="share-modal">{{labels.done}}</button>
    </modalFooter>
{{/aljs-modal}}