{{#aljs-modal modalId="reject-modal" class=""}}
    <modalHeader>
        <h2 class="slds-text-heading--medium">{{labels.rejectApplicants}}</h2>
    </modalHeader>
    <modalBody>
        <div class="slds-notify slds-notify--alert slds-theme--alert-texture slds-m-bottom--medium" role="alert">
            <span class="slds-assistive-text">Warning</span>
            <h2>
                <svg aria-hidden="true" class="slds-icon slds-icon--small slds-m-right--x-small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                </svg>
                {{labels.rejectModalBody1}} {{results.total}} {{labels.rejectModalBody2}}
            </h2>
        </div>
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="disposition">{{labels.disposition}}</label>
            <div class="slds-form-element__control">
                {{view "select" class="slds-select" content=disposition value=selectedBulkDisposition data-qa-select="selectedBulkDisposition" prompt=labels.selectPlaceHolder}}
            </div>
        </div>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral" data-aljs-dismiss="reject-modal" tabindex="-1">{{labels.cancel}}</button>
        <button class="slds-button slds-button--brand" data-aljs-dismiss="reject-modal" tabindex="-1" {{bind-attr disabled="disableConfirmBulkReject"}} {{action "clickConfirmBulkReject"}} data-qa-button="confirmReject">{{labels.rejectCapitalized}} {{results.total}} {{labels.applicantsCapitalizedParens}}</button>
    </modalFooter>
{{/aljs-modal}}