<div class="slds-page-header to-va-header" role="banner">
    <nav class="slds-m-bottom--xx-small" role="navigation">
        <p id="bread-crumb-label" class="slds-assistive-text">Requisitions</p>
        <ol class="slds-breadcrumb slds-list--horizontal to-va-breadcrumbs" aria-labelledby="bread-crumb-label">
            <li class="slds-list__item slds-text-heading--label"><a href="#">Requisitions</a></li>
            <li class="slds-list__item slds-text-heading--label"><a href="/{{unbound requisition.Id}}">{{requisition.Name}}</a></li>
        </ol>
    </nav>
    <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate">
            <h1 class="slds-text-heading--medium slds-truncate" title="Contacts (will truncate)">{{labels.applicants}}</h1>
        </div>
        <div class="slds-col slds-no-flex slds-align-bottom">
            <!-- Button Group -->
            <div class="slds-button-group slide-nav" role="group">
                <!-- Button -->
                <button class="slds-button slds-button--neutral" {{action "clickPrevOrNext" "prev"}} {{bind-attr disabled="disablePrev"}} data-qa-button="prev">
                    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--left">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#left"></use>
                    </svg>Prev</button>
                <!-- /Button -->
                <!-- Button -->
                <button class="slds-button slds-button--neutral" {{action "clickPrevOrNext" "next"}} {{bind-attr disabled="disableNext"}} data-qa-button="next">Next
                    <svg aria-hidden="true" class="slds-button__icon slds-button__icon--right">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#right"></use>
                    </svg>
                </button>
                <!-- /Button -->
            </div>
            <!-- /Button Group -->
        </div>
    </div>
    <ul class="review-stats slds-text-body--small slds-text-align--center">
        <li class="clickable" data-aljs="modal" data-aljs-show="total-modal">
            <div>{{labels.total}}</div>
            <span class="slds-text-heading--medium slds-m-top--xx-small">{{totalApplicants.total}}</span>
            <span>
                <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#standard_objects"></use>
                </svg>
            </span>
        </li>
        <li class="clickable" data-aljs="modal" data-aljs-show="filled-modal">
            <div>{{labels.filled}}</div>
            <span class="slds-text-heading--medium slds-m-top--xx-small">{{filledInfo.numFilled}}/{{filledInfo.totalHeadCount}}</span>
            <span>
                <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#snippet"></use>
                </svg>
            </span>
        </li>
        <li>
            <div>{{labels.openSince}}</div>
            <div class="cal-container">
                <div class="top">{{openSince.approvedOnMonth}}</div>
                <div class="bottom">{{openSince.approvedOnDay}}</div>
            </div>
            <small>({{openSince.numDaysOpen}} {{labels.days}})</small>
        </li>
    </ul>
</div>

{{!-- OLD STUFF
<div class="content force-overflow pad--sm--tm pad--sm--bm pad--sm--tm" data-qa-container="header">
    <nav id="formBuildNav" class="nav-bar mar--sm--bn review-header">
        <div style="margin-top: 38px">
            <span class="button-group float--right">
                <div class="button button--secondary text-center js-prev" {{action "clickPrevOrNext" "prev"}} {{bind-attr disabled="disablePrev"}} data-qa-button="prev"><span><span class="juicon juicon-chevron-left">&nbsp;</span></span>{{labels.prev}}</div>
                <div class="button button--secondary text-center js-next" {{action "clickPrevOrNext" "next"}} {{bind-attr disabled="disableNext"}} data-qa-button="next">{{labels.next}}<span>&nbsp;<span class="juicon juicon-chevron-right"></span></span></div>
            </span>
            <div class="review-stats-container">
                <div class="review-stats text-center">
                    <ul class="review-row">
                        <li class="cursor-pointer" data-aljs-toggle="stageStatus">
                            <label class="block" data-qa-label="total"><small>{{labels.total}}</small></label>
                            <span class="large-number" data-qa-label="totalValue">{{totalApplicants.total}}</span><span class="juicon juicon-chart-bar text-faded"></span>
                        </li>
                        {{partial "viewApplicantsStageStatusPopover"}}
                        {{#if filledInfo.totalHeadCountExists}}
                            <li class="js-filled-button js-tooltipster-button cursor-pointer">
                                <label class="block" data-qa-label="filled"><small>{{labels.filled}}</small></label>
                                <span class="large-number" data-qa-label="numFilled">{{filledInfo.numFilled}}<span class="text-faded" data-qa-label="totalHeadCount">/{{filledInfo.totalHeadCount}}</span></span><span class="juicon juicon-list text-faded"></span>
                            </li>
                        {{/if}}
                        <li>
                            <label class="block" data-qa-label="openSince"><small>{{labels.openSince}}</small></label>
                            <div class="cal-container">
                                <div class="top">
                                    <p data-qa-label="approvedOnMonth">{{openSince.approvedOnMonth}}</p>
                                </div>
                                <div class="bottom">
                                    <p data-qa-label="approvedOnDay">{{openSince.approvedOnDay}}</p>
                                </div>
                            </div>
                            <label data-qa-label="numDaysOpen">({{openSince.numDaysOpen}} {{labels.days}})</label>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 class="nav-bar__title has-subheading page__heading show-brkpoint--sm" data-qa-label="applicants">{{labels.applicants}}</h1>
            <h2 class="nav-bar__subtitle page__subheading" data-qa-label="requisition"><a href="/{{unbound requisition.Id}}">{{requisition.Name}}</a></h2>
        </div>
    </nav>
</div>--}}