{{#aljs-modal modalId="share-modal" class=""}}
    <modalheader>
        <h2 class="slds-text-heading--medium" data-qa-label="shareApplicant">{{labels.shareApplicantList}}</h2>
    </modalHeader>
    <modalBody>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <label for="url">{{labels.copyAndPasteLink}}</label>
                {{input type="text" class="slds-input" value=shareUrl}}
                <div class="slds-m-top--medium">
                    <p class="slds-text-heading--label">{{labels.hiringManager}}</p>
                    <p>{{hiringManager.Name}}</p>
                    <p><a {{bind-attr href="mailLink"}} data-qa-link="hiringManagerEmail">{{hiringManager.Email}}</a></p>
                </div>
            </div>
        </div>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral slds-button--brand" data-aljs-dismiss="share-modal">{{labels.done}}</button>
    </modalFooter>
{{/aljs-modal}}