<div aria-hidden="true" aria-labelledby="none" class="modal fade" id="reject-modal" role="dialog" tabindex="-1" data-qa-container="rejectModal">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top pad--sm--bm">
                <button class="close" data-dismiss="modal" type="button">
                    <span class="close-modal-x"></span>
                </button>
                <h2 class="modal__heading" data-qa-label="rejectApplications">{{labels.rejectApplicants}}</h2>
            </div>
            <div class="modal__body">
                <div class="alert alert--info mar--sm--bm">
                    <div class="part__left pad--sm--rn"><span class="juicon juicon-info-circle"></span></div>
                    <div class="part__right">{{labels.rejectModalBody1}} {{results.total}} {{labels.rejectModalBody2}}</div>
                </div>
                <div class="form-group">
                    <label data-qa-label="disposition">{{labels.disposition}}</label>
                    <div class="select__wrap">
                        <div class="input__icon juicon juicon-down"></div>
                        {{view "select" content=disposition value=selectedBulkDisposition data-qa-select="selectedBulkDisposition" prompt=labels.selectPlaceHolder}}
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                <button class="button button--secondary" data-dismiss="modal" type="button" data-qa-button="cancel">{{labels.cancel}}</button>
                <button class="button button--error js-save" {{bind-attr disabled="disableConfirmBulkReject"}} data-dismiss="modal" type="button" {{action "clickConfirmBulkReject"}} data-qa-button="confirmReject">{{labels.rejectCapitalized}} {{results.total}} {{labels.applicantsCapitalizedParens}}</button>
            </div>
        </div>
    </div>
</div>