<div aria-hidden="true" aria-labelledby="none" class="modal fade mar--sm--txl" id="share-modal" role="dialog" tabindex="-1" data-qa-container="shareModal">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top pad--sm--bm">
                <h2 class="modal__heading" data-qa-label="shareApplicant">{{labels.shareApplicantList}}</h2>
            </div>
            <div class="modal__body">
                <label data-qa-label="copyAndPastLink">{{labels.copyAndPasteLink}}</label>
                {{input type="text" class="pad--sm--xs pad--sm--ls pad--sm--rs" value=shareUrl}}      

                {{#if hiringManager}}
                    <label class="block mar--sm--bn mar--sm--tm" data-qa-label="hiringManager">{{labels.hiringManager}}</label>
                    <div data-qa-label="hiringManagerName">{{hiringManager.Name}}</div>
                    <a {{bind-attr href="mailLink"}} data-qa-link="hiringManagerEmail">{{hiringManager.Email}}</a>
                {{/if}}    
            </div>
            <div class="modal__footer">
                <button class="button button--primary js-save" data-dismiss="modal" type="button" data-qa-button="done">{{labels.done}}</button>
            </div>
        </div>
    </div>
</div>