<div aria-hidden="true" aria-labelledby="none" class="modal fade" id="status-modal" role="dialog" tabindex="-1" data-qa-container="statusModal">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top pad--sm--bm">
                <button class="close" data-dismiss="modal" type="button">
                    <span class="close-modal-x"></span>
                </button>
                <h2 class="modal__heading" data-qa-label="updateStatus">{{labels.updateStatus}}</h2>
            </div>
            <div class="modal__body">
                <div class="alert alert--info mar--sm--bm">
                    <div class="part__left pad--sm--rn"><span class="juicon juicon-info-circle"></span></div>
                    <div class="part__right">{{labels.updateStatusModalBody1}} {{results.total}} {{labels.updateStatusModalBody2}}</div>
                </div>
                <div class="mar--sm--bm">
                    <div class="form-group">
                        <label data-qa-label="stage">{{labels.stage}}</label>
                        <div class="select__wrap">
                            <div class="input__icon juicon juicon-down"></div>
                            {{view "select" content=applicationStages value=selectedBulkStage data-qa-select="selectedBulkStage" prompt=labels.selectPlaceHolder}}
                        </div>
                    </div>
                </div>
                <div class="mar--sm--bn">
                    <div class="form-group">
                        <label data-qa-label="status">{{labels.status}}</label>
                        <div class="select__wrap">
                            <div class="input__icon juicon juicon-down"></div>
                            {{view "select" content=applicationStatuses value=selectedBulkStatus data-qa-select="selectedBulkStatus" prompt=labels.selectPlaceHolder}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                <button class="button button--secondary" data-dismiss="modal" type="button" data-qa-button="cancel">{{labels.cancel}}</button>
                <button class="button button--primary js-save" {{bind-attr disabled="disableConfirmBulkUpdate"}} data-dismiss="modal" type="button" {{action "clickConfirmBulkUpdate"}} data-qa-button="update">{{labels.update}} {{results.total}} {{labels.applicantsCapitalizedParens}}</button>
            </div>
        </div>
    </div>
</div>