<div class="slds non-responsive">
    {{partial "viewApplicantsHeader"}}
    
    <div class="slds-grid">
        {{partial "viewApplicantsFilterAndResults"}}
        <div class="slds-col slds-size--3-of-4 slds-p-top--large slds-p-around--large">
            <!-- Application Reader -->
            {{outlet}}
            <!-- /Application Reader -->
        </div>

        {{!--
            <div class="column--sm--9 pad--sm--bm">
                {{#if noResultsFound}}
                    <div id="no-resuts" class="">
                        <div class="content pad--sm--n">
                            <div class="panel">
                                <div class="panel__body">
                                    <em class="text-faded" data-qa-label="noApplicantsFound">{{labels.noApplicantsFound}}</em>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{outlet}}
                
            </div>
        --}}
    </div>
    
    {{partial "viewApplicantsShareModal"}}
    {{partial "viewApplicantsRejectModal"}}
    {{partial "viewApplicantsUpdateStatusModal"}}
</div>