<div class="scope-container">
    <div class="content pad--md--tm pad--md--bl pad--sm--only--n offer-letter">
        <div {{bind-attr class=":alert :alert--error :mar--sm--bm hasValidationError::hide"}}>
            <button type="button" class="close" data-dismiss="alert">
                <span class="alert-close-x"></span><span class="sr-only">{{labels.close}}</span>
            </button>
            {{#each errorMsg}}
                {{.}} <br/>
            {{/each}}
        </div>
        
        <div class="panel feedbackControls">
            <div class="panel__top pad--sm--n">
                <nav class="nav-bar--sf1 mar--sm--bn" style="border: none">
                    <div class="pad--md--tm pad--md--lm pad--md--rm">
                        <button {{action "saveFeedback"}} class="button button--primary float--right mar--sm--only--rs mar--md--lxs" type="button">Save</button>
                        <button {{action "cancel"}} class="button button--secondary float--right-left mar--sm--only--rs mar--sm--ls" type="button">Cancel</button>
                        <h2 class="nav-bar--sf1__title page__heading has-subheading has-subtitle">Feedback</h2>
                        <h3 class="nav-bar--sf1__subtitle page__subheading">{{applicantName}}</h3>
                    </div>
                </nav>
            </div>

            <div class="panel__body pad--sm--bn">
                <div class="form__group mar--sm--bs">
                    <label data-qa-label="regarding" class="required-field"{{labels.regarding}}</label>
                    <div class="select__wrap">
                        <div class="input__icon juicon juicon-down"></div>
                        {{view "select"  data-qa-select="interviews" content=selectValues value=selectedType optionLabelPath="content.label" optionValuePath="content.value"}}
                    </div>
                    <small class="evalExtra text-faded pad--sm--ts pad--sm--bs block">
                        <span data-qa-label="interviewers" class="">{{interviewText}}</span>
                        <span class="errorText hide">You must select something...</span>
                    </small>
                </div>
                <div id="TFcontrols">
                    <div {{bind-attr class=":form__group feedbackError:has-error"}}>
                        <label data-qa-label="feedback" class="block required-field">Overall&nbsp;{{labels.feedback}}</label>
                        <div class="button-group feedbackButtons">
                            {{#unless selectedFinalOutcome}}
                                <div class="button-group feedbackButtons">
                                    <button {{action "selectedFeedback" "Positive_Feedback__c"}} {{bind-attr class=":button :button--secondary :feedbackButton chooseLike:bg-2" title=positiveTooltip}} data-qa-button="positive" data-toggle="tooltip">
                                        <span {{bind-attr class=":juicon :juicon-like chooseLike:text-success"}}></span>
                                    </button>
                                    <button {{action "selectedFeedback" "Negative_Feedback__c"}} {{bind-attr class=":button :button--secondary :feedbackButton chooseDislike:bg-2" title=negativeTooltip}} data-qa-button="negative" data-toggle="tooltip">
                                        <span {{bind-attr class=":juicon :juicon-dislike chooseDislike:text-warning"}}></span>
                                    </button>
                                    {{#if allowNeutral}}
                                        <button {{action "selectedFeedback" "Neutral__c"}} {{bind-attr class=":button :button--secondary :feedbackButton chooseUnknown:bg-2" title=neutralTooltip}} data-qa-button="neutral" data-toggle="tooltip">
                                            <span {{bind-attr class=":juicon :juicon-question-circle chooseUnknown:text-info"}}></span>
                                        </button>
                                    {{/if}}
                                </div>
                            {{else}}
                                <div class="button-group feedbackButtons">
                                    <button {{action "selectedFeedback" "Selected__c"}} {{bind-attr class=":button :button--secondary :feedbackButton chooseSelected:bg-2" title=labels.selectTooltip}} data-qa-button="select" data-toggle="tooltip">
                                        <span {{bind-attr class=":juicon :juicon-check chooseSelected:text-success"}}></span>
                                    </button>
                                    {{#if allowRejection}}
                                        <button {{action "selectedFeedback" "Rejected__c"}} {{bind-attr class=":button :button--secondary :feedbackButton chooseDisqualified:bg-2" title=labels.rejectTooltip}} data-qa-button-"reject" data-toggle="tooltip">
                                                <span {{bind-attr class=":juicon :juicon-ban chooseDisqualified:text-error"}}></span>
                                        </button>
                                    {{/if}}
                                </div>
                            {{/unless}}
                        </div>
                    </div>
                    {{#unless selectedFinalOutcome}}
                        {{#unless isResumeReview}}
                            {{#if additionalCriteriaFields}}
                                <div class="form__group ">
                                    <label class="block mar--sm--bs">Questions</label>
                                        {{#each additionalCriteriaFields}}
                                            <h5 class="block">{{#if helpText}}{{helpText}}{{else}}{{label}}{{/if}}</h5>
                                            <div class="select__wrap mar--sm--bm">
                                                <div class="input__icon juicon juicon-down"></div>
                                                {{view "select" prompt="Select..." data-qa-select="fieldSetQuestions" content=values value=selectedValue optionLabelPath="content.label" optionValuePath="content.value"}}
                                            </div>
                                        {{/each}}
                                </div>
                            {{/if}}
                        {{/unless}}
                    {{/unless}}

                    {{#if showDisposition}}
                        <div id="disposition" class="form__group">
                            <label data-qa-label="disposition" class="required-field">{{labels.disposition}}</label>
                            <div class="select__wrap">
                                <div class="input__icon juicon juicon-down"></div>
                                {{view "select" data-qa-select="disposition" content=disposition value=model.Disposition__c}}
                            </div>
                        </div>
                    {{/if}}

                    {{#unless selectedFinalOutcome}}
                        <div class="form__group">
                            <label data-qa-label="comment" class="">{{labels.comment}}</label>
                            {{textarea data-qa-textarea="comment" disabled=isDisabled value=model.Comments__c}}
                        </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>