<div data-qa-container="outcomeFilter">
    <div class="row input__group">
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=showHired data-qa-checkbox="showHired"}}<label data-qa-label="hired">{{labels.hired}}</label>
        </div>
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=showWithdrew data-qa-checkbox="showWithdrew"}}<label data-qa-label="withdrew">{{labels.withdrew}}</label>
        </div>
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=showRejected data-qa-checkbox="showRejected"}}<label data-qa-label="rejected">{{labels.rejected}}</label>
        </div>
    </div>
    <hr class="mar--sm--bn" />
    <div class="row input__group">
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=noOutcome data-qa-checkbox="noOutcome"}}<label data-qa-label="noOutcomeYet">{{labels.noOutcomeYet}}</label>
        </div>
    </div>
</div>