<div class="slds-form-element__row slds-clearfix" data-qa-container="applicationRatingFilter">
    <div class="slds-form-element__row slds-clearfix">
        <label class="slds-form-element__control slds-float--left slds-size--3-of-4">
            <div class="slds-form-element">
                <label class="slds-form-element__label slds-show" for="date">{{labels.is}}</label>
                {{view "select"
                    class="slds-select" 
                    content=comparisons 
                    optionLabelPath="content.label" 
                    optionValuePath="content.value"
                    value=ratingDirection
                    data-qa-select="ratingDirection"}}
            </div>
        </label>
        <label class="slds-form-element__control slds-col slds-size--1-of-4">
            <div {{bind-attr class=":slds-form-element invalidApplicationRating:slds-has-error"}}>
                {{#unless ctrl.isScoreSortCustom}}
                    <label class="slds-form-element__label slds-show" for="date">(<em>{{labels.max}}: {{maxApplicationRatingVal}}</em>)</label>
                {{/unless}}
                {{input type="number" class="slds-input" value=rating data-qa-input="rating"}}
            </div>
        </label>
    </div>
</div>