<div class="slds-clearfix">
    <h3 class="slds-text-heading--small slds-float--left">{{labels.filters}}</h3>
    <button class="slds-button slds-button--icon-border slds-float--right" data-aljs-show="filter-modal" {{action "clickAdd"}}>
        <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
        </svg>
        <span class="slds-assistive-text">{{labels.add}}</span>
    </button>
</div>

{{#each filter in filters itemController="filter"}}
    <span class="slds-pill to-va-filter"><a href="#" class="slds-pill__label" data-aljs="tooltip" {{bind-attr title="filter.formattedFilterText"}}>{{{filter.formattedFilterText}}}</a>
        <button class="slds-button slds-button--icon-bare" {{action "clickRemoveFilter" filter}} data-qa-button="removeFilter">
            <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="{{unbound assetsLocation}}/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">{{labels.remove}}</span>
        </button>
    </span>
{{else}}
    <em class="slds-opacity--50">{{labels.noFilters}}</em>
{{/each}}

{{#aljs-modal modalId="filter-modal" bodyClass="slds-expanded"}}
    <modalheader>
        <h2 class="slds-text-heading--medium">{{labels.addFilter}}</h2>
    </modalHeader>
    <modalBody>
        <fieldset class="slds-form--compound">
            <div class="form-element__group">
                <div class="slds-form-element__row slds-clearfix">
                    <label class="slds-form-element__control slds-col slds-size--1-of-1">
                        <span class="slds-form-element__helper">{{labels.field}}</span>
                        {{view "select" class="slds-select" content=filterOptions value=selectedFilter prompt=labels.selectPlaceHolder data-qa-select="selectedFilter"}}
                    </label>
                </div>
                <hr class="slds-m-bottom--large">
                {{partial filterPartial}}
            </div>
        </fieldset>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral" data-aljs-dismiss="filter-modal" {{action "clickCancel"}} data-qa-button="cancel">{{labels.cancel}}</button>
        <button class="slds-button slds-button--neutral slds-button--brand" {{action "clickOK"}} data-qa-button="ok">{{labels.ok}}</button>
    </modalFooter>
{{/aljs-modal}}