{{#aljs-modal modalId="update-status-modal"}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="updateStatus">{{labels.updateStatus}}</h2>
    </modalHeader>
    <modalBody>
        <div class="slds-form--stacked">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="stage">{{labels.stage}}</label>
                <div class="slds-form-element__control">
                    {{view "select" class="slds-select" content=applicationStages value=stage data-qa-select="stage"}}

                </div>
            </div>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="status">{{labels.status}}</label>
                <div class="slds-form-element__control">
                    {{view "select" class="slds-select" content=applicationStatuses value=status data-qa-select="status"}}
                </div>
            </div>
        </div>
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral" data-aljs-dismiss="update-status-modal" type="button" data-qa-button="cancel">{{labels.cancel}}</button>
        <button class="slds-button slds-button--brand" data-aljs-dismiss="update-status-modal" type="button" {{action "clickUpdateStatus"}} data-qa-button="update">{{labels.update}}</button>
    </modalFooter>
{{/aljs-modal}}