<div class="scope-container">
    <div class="community-hero mar--sm--bm" style="background: #33536d;">
        <div class="community-hero__bg" style="background-image: url('http://www.salesforce.com/assets/images/careers/business-background.jpg')"></div>
        <div class="content community-hero__content" style="max-width: 700px; margin: 0 auto;">
            <h1 class="text-center mar--md--bxl mar--md--txl"><span class="text-white">Find your #dreamjob</span></h1>
            <div class="table-group mar--md--bxl">
                <div class="table-group__object--large block-on-small pad--sm--only--rn">
                    <div class="row">
                        <div class="column--md--6">
                            <div class="form__group mar--md--bn">
                                <div class="input__wrap has-icon--right">
                                    <div class="input__icon juicon juicon-search"></div>
                                    {{input type="text" placeholder="Search jobs..." class="bg-1" value=searchTerm}}
                                </div>
                            </div>
                        </div>
                        <div class="column--md--6">
                            <div class="form__group mar--md--bn">
                                <div class="select__wrap">
                                    <div class="input__icon juicon juicon-down"></div>
                                    {{view "select" content=jobFamilies value=selectedJobFamily}}
                                </div>
                            </div>
                        </div>
                        <div class="column--md--6">
                            <div class="form__group mar--sm--tm mar--md--bn">
                                <div class="select__wrap">
                                    <div class="input__icon juicon juicon-location"></div>
                                    {{view "select" content=locations value=selectedLocation}}
                                </div>
                            </div>
                        </div>
                        <div class="column--md--6">
                            {{#if isNear}}
                                <div class="form__group mar--sm--tm mar--md--bn">
                                    <div class="input__wrap has-icon--right">
                                        <div class="input__icon juicon juicon-chch"></div>
                                        {{input type="text" placeholder="City, State or Zip" class="bg-1" value=nearValue}}
                                    </div>
                                </div>
                            {{/if}}
                            {{#if isNearMe}}
                                <div class="row">
                                    <div class="column--sm--6">
                                        <div class="form__group mar--md--tm mar--md--bn">
                                            <div class="select__wrap">
                                                <div class="input__icon juicon juicon-down"></div>
                                                {{view "select" content=radiusOptions value=selectedRadius}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column--sm--6">
                                        <div class="form__group mar--md--tm mar--md--bn">
                                            <div class="select__wrap">
                                                <div class="input__icon juicon juicon-down"></div>
                                                {{view "select" content=radiusUnits value=selectedUnit}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="table-group__object--small pad--md--lm block-on-small width--full--sm--only mar--sm--only--bxl">
                    <button type="button" {{bind-attr class=":button :button--primary :width--full--sm--only :theme-bg-color isSearching:load-this"}} {{action "clickSearch"}}>Search</button>
                </div>
            </div>
            <h1 class="text-center mar--sm--tn mar--sm--bxl">
                {{#if searchResults}}
                    {{#if showResultsCount}}
                        <span class=" text-white">{{numberOfJobs}}  <span class="text-faded">jobs found</span></span>
                    {{/if}}
                {{/if}}
            </h1>
        </div>
    </div>
</div>