<div class="scope-container brand__border-accent--top" style="border-top-color: #cf5c60">
    <div class="content pad--md--txl pad--md--bl">
        <div class="row">
            <div class="column--md--8">

                <div class="alert alert--success mar--md--bm hide">
                    <button type="button" class="close show-brkpoint--sm--only" data-dismiss="alert"><span class="alert-close-x"></span><span class="sr-only">Close</span></button>
                    <button type="button" class="close close-timeout show-brkpoint--md">
                        <svg class="close-progress" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                            <circle class="progress-track progress-track--success" cx="20" cy="20" r="19" opacity="0" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10" fill="none"></circle>
                            <path d="M20 1c10.45 0 19 8.55 19 19s-8.55 19-19 19-19-8.55-19-19 8.55-19 19-19z" class="progress progress--success" stroke-linecap="round" stroke-miterlimit="10" fill="none"></path></svg>
                        <span class="alert-close-x"></span><span class="sr-only">Close</span>
                    </button>
                    <strong>You've successfully applied for this job.</strong>
                </div>

                
                {{#each searchResult in searchResults itemController="jobPosting"}}
                    <div class="card">
                        <div class="card__body">

                            {{#if searchResult.isJobAppliedCompleted}}
                                <button href="" class="float--right button button--success mar--sm--only--rs mar--md--lxs show-brkpoint--md" disabled="disabled">Applied</button>
                            {{else}}
                                {{#if searchResult.isJobAppliedInProgress}}
                                    <a href="" class="float--right button button--success mar--sm--only--rs mar--md--lxs show-brkpoint--md" {{action "finishApplication" searchResult}}>Finish</a>
                                {{else}}
                                    {{#if searchResult.isJobSaved}}
                                        <a href="" class="float--right button button--success mar--sm--only--rs mar--md--lxs show-brkpoint--md">Saved</a>
                                    {{else}}
                                        <a href="" class="float--right button button--primary  theme-bg-color mar--sm--only--rs mar--md--lxs show-brkpoint--md theme-bg-color" {{action "saveJob" searchResult}}>Save</a>
                                    {{/if}}
                                {{/if}}
                            {{/if}}

                            

                            <div class="row">
                                <div class="column--md--8">
                                    <h1 class="page__heading has-subheading"><a href="#" {{action "clickApply"}}>{{searchResult.Name}}</a></h1>
                                    <h2 class="page__subheading">
                                        {{searchResult.firstLocationString}} 
                                        {{#if searchResult.otherLocationsString}} &amp; <a href="{{unbound searchResult.jobPostingUrl}}" target="_top" data-toggle="tooltip" title="" class="pointer text-primary text-underline" data-original-title="{{unbound searchResult.otherLocationsString}}">{{searchResult.otherLocationsCount}} others</a>
                                        {{/if}}
                                    </h2>
                                </div>
                            </div>
                            <div class="card__text">
                                {{#each field in searchResult.fieldsToDisplay}}
                                    {{#if field.value}}
                                        <div class="job-field">
                                            <h4 class="job-field-label">{{field.label}}</h4>
                                            {{field.value}}
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            {{partial "sideBar"}}

        </div>
    </div>
</div>