<div class="scope-container">
    <header class="content pad--md--ts">
        <div class="content__section show-brkpoint--md">
            <img class="mar--sm--bxl theme-logo" src="../css/img/logo-tagline-company.png"/>
        </div>
    </header>
    {{#if resize}}
        <span/>
    {{/if}}
    <section class="content content--small pad--sm--m">
        {{#if showAlert}}
            <div {{bind-attr class=":alert alertColor :pad--sm--m :mar--sm--bl"}}>
                <span class="part__left--fixed">
                    <span {{bind-attr class=":juicon alertIcon"}}></span>
                </span>
                <span class="part__body">{{{alertText}}}</span>
            </div>
        {{/if}}
        {{#if tokenVerified}}
            {{#if showBodyText}}
                {{#if showHeaderText}}
                    <h3 class="mar--sm--bn">
                        Want to make it easier to accept a job offer?
                    </h3>
                {{/if}}
                <p class="mar--sm--tn">Specify a password now so we can create an account.</p>
            {{/if}}
            <div class="form__group">
                <label for="password">Password</label>
                {{input type=inputType value=password}}
            </div>
            <div class="form__group">
                <span class="part__left pad--sm--n">
                    {{input type="checkbox" checked=showPass}}
                </span>
                <span class="part__body"><label for="showPass"> Show password</label></span>
            </div>
            <button {{action "createUser"}} type="button" class="button button--primary">{{buttonText}}</button>
            {{#if showJobLink}}
                <span>Or just <a {{action "goToListing"}} href="" class="text-underline">go back to the job</a>.</span>
            {{/if}}
        {{/if}}
    </section>
</div>