<div class="modal fade" id="pleaseLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal__shell">
        <div class="modal__content" data-qa="modal">
            <div class="modal__top">
                <button type="button" class="close" data-dismiss="modal" data-qa-button="dismiss">
                    <span class="close-modal-x"></span><span class="sr-only">{{labels.close}}</span>
                </button>
                <h2 class="modal__heading" id="myModalLabel" data-qa-label="head">{{labels.loginToSaveJob}}</h2>
            </div>

            <div class="modal__body" data-qa-label="body">
                {{labels.youNeedToLogin}}
            </div>

            <div class="modal__footer">
                <button type="button" class="button button--secondary" data-dismiss="modal" data-qa-button="close">{{labels.close}}</button>
                <button id="modalOk" type="button" class="button button--primary" data-dismiss="modal" data-qa-button="ok">{{labels.ok}}</button>
            </div>
        </div>
    </div>
</div>
