<div class="row">
    <div class="column--sm--9 column--md--12">
        <div class="card__body pad--sm--bs">
            <div class="card__top">
                <h4 data-qa-label="jobTitle" class="card__heading dots">{{#with Requisition__r}}{{Job_Posting_Title__c}}{{/with}}</h4>
                <h5 data-qa-label="status" class="card__subheading dots">{{labels.cardStatus}} {{statusText}}
                    {{#if hasOutcome}}
                        <small data-qa-label="outcome" {{bind-attr class=":label outcomeColor"}}>{{Outcome__c}}</small>
                    {{/if}}
                </h5>
            </div>
        </div>
        <div class="content">
            <div class="form__group mar--sm--bn">
                <small class="block dots" data-qa-label="source"><label>{{labels.cardSource}}</label> {{Source__c}}</small>
            </div>
            <div class="form__group mar--sm--bn">
                <small class="block dots" data-qa-label="employment" ><label>{{labels.cardEmployment}}</label> {{employmentText}}</small>
            </div>
            <div class="form__group">
                <small class="block dots" data-qa-label="createdDate"><label><span class="juicon juicon-calendar"></span></label> {{labels.otherCreated}} {{formatLocaleDate CreatedDate}}</small>
            </div>
        </div>
    </div>
</div>