<div class="list-heading">
    <h4 class="list-heading__title" data-qa-label="questionText">{{labels.questionText}}</h4>
</div>
<div class="panel__body">
    <div class="form__group mar--sm--bn">
        {{textarea class="elementInput" placeholder=labels.typeYourQuestionHere value=model.Text__c maxlength="1000" data-qa-input="questionText"}}
    </div>
</div>
<div class="list-heading">
    <h4 class="list-heading__title" data-qa-label="answerChoice">{{labels.answerChoices}}</h4>
</div>
{{#each answers itemController="answer"}}
    {{partial "answerInput"}}
{{/each}}
{{#unless isAtMaxAnswers}}
    <div class="panel__component">
        <button type="button" class="button button--primary button--ghost" {{action "clickAddAnswer"}} data-qa-button="addAnswerChoice">{{labels.addAnswerChoice}}</button>
    </div>
{{/unless}}