<div class="panel__body pad--sm--bn">
    <div class="form__group">
        Dropbox contents:
        <div class="panel">
            <div class="panel__body">
                <ul>
                    {{#if token}}
                        <li><a href="#" {{action "clickBack"}}>BACK</a></li>
                    {{/if}}
                    {{#each fdc in formattedDropboxContent}}
                        {{#if fdc.is_dir}}
                            <li><a href="#" {{action "clickFolder" fdc.path}}>{{fdc.name}} (folder)</a></li>
                        {{else}}
                            <li><a href="#" {{action "clickFile" fdc.path}}>{{fdc.name}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
                {{!--<button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :theme-bg-color disableNext:disabled" disabled="disableChoose"}} style="top:0;right:0;" {{action "clickChoose"}} data-qa-button="done"><span class="show-brkpoint--md">Choose</span></button>--}}
            </div>
        </div>
    </div>
</div>