{{#if token}}
    <div class="panel">
        <div class="panel__top">
            <div class="row">
                <div class="column--sm--3">
                    <a href="#" class="inline-block dots input-size" {{action "clickBack"}}>
                        <span class="juicon juicon-backward"></span>
                        <span class="">{{backFolder}}</span>
                    </a>
                </div>
                <div class="column--sm--6 text-center">
                    <div class="panel__heading dots">
                        {{currentDropboxFolder}}
                    </div>
                </div>
                <div class="column--sm--3">
                    <a href="#" class="inline-block dots input-size text-right" {{action "clickCancel"}}>
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        <ul class="list-group list-group--bordered dropbox-list">
            {{#each fdc in formattedDropboxContent itemController="dropboxElement"}}
                <li {{action "clickElement" fdc.is_dir fdc.path}} {{bind-attr class=":list-group__item :has-icon--left fdc.isSelected:active"}}>
                    {{#if fdc.isSelected}}
                        <button type="button" class="button button--secondary float--right" {{action "clickChoose"}} style="display: block;">
                        Choose
                        </button>
                    {{/if}}
                    <div class="input__icon"><img style="max-width:100%" src={{unbound fdc.iconUrl}}></img></div>
                    <a href="#">{{fdc.name}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}