<div class="scope-container">
    <div class="content pad--md--ts pad--sm--only--n pad--sm--tm">
        <div class="content__section show-brkpoint--md">
            <img class="mar--sm--bxl theme-logo" data-qa-image="logoHeader" src="{{unbound companyLogoUrl}}" style="height: 40px; width: 58px"/>
        </div>

        {{partial "savingNotification"}}

        <div class="row mar--sm--only--n">
            <div class="column--md--3 pad--sm--only--n" data-qa-container="nav">
                <ul class="list-group wizardNav show-brkpoint--md mar--md--tn">
                    {{#link-to "contactInfo" tagName="li" class="list-group__item" disabledWhen="disableContactInfo" data-qa-link="contactInfo"}}<a>{{labels.contactInfo}}</a>{{/link-to}}
                    {{#if isResumeEnabled}}
                        {{#link-to "resume" tagName="li" class="list-group__item" disabledWhen="disableResume" data-qa-link="resume"}}<a>{{labels.resumeHeader}}</a>{{/link-to}}
                    {{/if}}
                    {{#if isSkillsEnabled}}
                        {{#link-to "skills" tagName="li" class="list-group__item" disabledWhen="disableSkills" data-qa-link="skills"}}<a>{{labels.skills}}</a>{{/link-to}}
                    {{/if}}
                    {{#if isEmploymentHistoryEnabled}}
                        {{#link-to "employmentHistory" tagName="li" class="list-group__item" disabledWhen="disableEmploymentHistory" data-qa-link="employmentHistory"}}<a>{{labels.employmentHistory}}</a>{{/link-to}}
                    {{/if}}
                    {{#if isEducationHistoryEnabled}}
                        {{#link-to "educationHistory" tagName="li" class="list-group__item" disabledWhen="disableEducationHistory" data-qa-link="educationHistory"}}<a>{{labels.educationHistory}}</a>{{/link-to}}
                    {{/if}}
                    {{#unless isGeneralEmpty}}
                        {{#link-to "general" tagName="li" class="list-group__item" disabledWhen="disableGeneral" data-qa-link="general"}}<a>{{labels.general}}</a>{{/link-to}}
                    {{/unless}}
                    {{#unless isJobSpecificEmpty}}
                        {{#link-to "jobSpecific" tagName="li" class="list-group__item" disabledWhen="disableJobSpecific" data-qa-link="jobSpecific"}}<a>{{labels.jobSpecific}}</a>{{/link-to}}
                    {{/unless}}
                    {{#unless isLegalEmpty}}
                        {{#link-to "legallyRequired" tagName="li" class="list-group__item" disabledWhen="disableLegallyRequired" data-qa-link="legallyRequired"}}<a>{{labels.legallyRequired}}</a>{{/link-to}}
                    {{/unless}}
                </ul>
            </div>
            <div class="column--md--9 pad--sm--only--n">
                <div class="content mar--md--tm pad--md--n mar--md--bm show-brkpoint--sm--only" data-qa-container="mobileButtons">
                    <hr class="show-brkpoint--md"/>
                    {{#unless isContactInfo}}
                        <button {{bind-attr class=":button :button--secondary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--ls :float--left :prev disablePrevious:disabled" disabled="disablePrevious"}} style="top:0;left:0;" {{action "clickPrevious"}} data-qa-button="mobilePrevious"><span class="juicon juicon-backward"></span> <span class="show-brkpoint--md">{{labels.previous}}</span></button>
                    {{/unless}}

                    {{#if isLastSection}}
                        <button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :next disableNext:disabled" disabled="disableNext"}} style="top:0;right:0;" {{action "clickDone"}} data-qa-button="mobileDone"><span class="show-brkpoint--md">{{labels.done}}</span> <span class="juicon juicon-forward"></span> </button>
                    {{else}}
                        <button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :next disableNext:disabled" disabled="disableNext"}} style="top:0;right:0;" {{action "clickNext"}} data-qa-button="mobileNext"><span class="show-brkpoint--md">{{labels.next}}</span> <span class="juicon juicon-forward"></span> </button>
                    {{/if}}
                    <div class="pad--sm--lxxl pad--sm--rxxl text-center pad--sm--tm text-faded">
                        <span data-qa-label="currentSectionNum">{{currentSectionNum}}</span>/<span data-qa-label="numSections">{{numSections}}</span>
                    </div>
                </div>
                <div class="wizardContent">
                    {{outlet}}
                    <div class="content mar--sm--txl pad--md--n mar--sm--bm" data-qa-container="desktopButtons">
                        <hr class="show-brkpoint--md"/>
                        {{#unless isContactInfo}}
                            <button {{bind-attr class=":button :button--secondary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--ls :float--left :prev disablePrevious:disabled" disabled="disablePrevious"}} style="top:0;left:0;" {{action "clickPrevious"}} data-qa-button="previous"><span class="juicon juicon-backward"></span> <span class="show-brkpoint--md">{{labels.previous}}</span></button>
                        {{/unless}}

                        {{#if isLastSection}}
                            <button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :next disableNext:disabled" disabled="disableNext"}} style="top:0;right:0;" {{action "clickDone"}} data-qa-button="done"><span class="show-brkpoint--md">{{labels.done}}</span> <span class="juicon juicon-forward"></span> </button>
                        {{else}}
                            <button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :next disableNext:disabled" disabled="disableNext"}} style="top:0;right:0;" {{action "clickNext"}} data-qa-button="next"><span class="show-brkpoint--md">{{labels.next}}</span> <span class="juicon juicon-forward"></span> </button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="content__section">
                <img class="mar--sm--txl theme-logo" data-qa-image="logoFooter" src="{{unbound companyLogoUrl}}" style="height: 40px; width: 58px"/>
            </div>
        </footer>
    </div>
</div>