{{#if isOnePage}}
    <div class="wizardSection pad--sm--only--n active mar--md--txl" data-qa-container="resumeOnePage">
        <div class="panel">
            <div class="panel__top">
                <h2 class="panel__heading" data-qa-header="resume">
                    {{labels.resumeHeader}}
                </h2>
            </div>
            {{#if isAddResumeEnabled}}
                <div class="panel__body">
                    <p class="mar--sm--tn" data-qa-label="uploadResume">
                        {{labels.pleaseUploadYourResume}}
                        <div style="display:none;">
                            {{view "uploadFile" resumeFileName=resumeFileName alreadyUploaded=alreadyUploaded isFromDropbox=isFromDropbox}}
                        </div>
                    </p>
                    <div class="button-group inline-block float--left">
                        <div class="button button--secondary" data-toggle="dropdown" data-qa-button="uploadDropdown">{{labels.upload}} <span class="show-brkpoint--md">{{labels.your}}</span> {{labels.resume}} <span class="juicon juicon-upload"></span></div>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu__list-item" {{action "clickUploadFromDropbox"}} data-qa-button="fromDropbox"><a href="#"><span class="juicon juicon-dropbox"></span> {{labels.fromDropbox}}</a></li>
                            <li class="dropdown-menu__list-item" {{action "clickUploadFromDevice"}} data-qa-button="fromDevice"><a href="#"><span class="juicon juicon-upload"></span> {{labels.fromDevice}}</a></li>
                        </ul>
                    </div>
                    <div class="column--md--6">
                        <div class="input-size text-faded dots" data-qa-label="fileName">
                            {{#if resumeFileName}}
                                {{resumeFileName}}
                            {{else}}
                                {{labels.noFileSelected}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#if isPersonalStatementEnabled}}
                <div class="panel__body pad--sm--tn pad--sm--bn">
                    <div class="form__group">
                        <a href="#" {{action "clearPersonalStatement"}} class="text-error float--right text-underline" data-qa-link="clear"><small>Clear</small></a>
                        <label for="textareaSomething" class="" data-qa-label="personalStatement">{{labels.personalStatement}}</label>
                        {{textarea placeholder="" value=personalStatement maxlength="1500" data-qa-input="personalStatement"}}
                        <small class="input-error-content">Required field</small>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
{{else}}
    <div class="wizardSection pad--sm--only--n active" data-qa-container="resume">
        <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm" data-qa-header="resume">{{labels.resumeHeader}}</h1>
        {{#if errorMessage}}
            {{partial "errorAlert"}}
        {{/if}}
        <div class="panel">
            {{#if isAddResumeEnabled}}
                <div class="panel__body">
                    <p class="mar--sm--tn" data-qa-label="uploadResume">
                        {{labels.pleaseUploadYourResume}}
                        <div style="display:none;">
                            {{view "uploadFile" resumeFileName=resumeFileName alreadyUploaded=alreadyUploaded isFromDropbox=isFromDropbox}}
                        </div>
                    </p>
                    <div class="row">
                        <div class="column--md--6">
                            <div class="button-group width--full inline-block">
                                <div class="button width--full button--secondary" data-toggle="dropdown" data-qa-button="uploadDropdown">{{labels.upload}} <span class="show-brkpoint--md">{{labels.your}}</span> {{labels.resume}} <span class="juicon juicon-upload"></span></div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu__list-item" {{action "clickUploadFromDropbox"}} data-qa-button="fromDropbox"><a href="#"><span class="juicon juicon-dropbox"></span> {{labels.fromDropbox}}</a></li>
                                    <li class="dropdown-menu__list-item" {{action "clickUploadFromDevice"}} data-qa-button="fromDevice"><a href="#"><span class="juicon juicon-upload"></span> {{labels.fromDevice}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="column--md--6">
                            <div class="input-size text-faded dots" data-qa-label="fileName">
                                {{#if resumeFileName}}
                                    {{resumeFileName}}
                                {{else}}
                                    {{labels.noFileSelected}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
 
            {{#if isPersonalStatementEnabled}}
                <div class="panel__body pad--sm--bn">
                    <div class="form__group">
                        <a href="#" {{action "clearPersonalStatement"}} class="text-error float--right text-underline" data-qa-link="clear"><small>Clear</small></a>
                        <label for="textareaSomething" class="" data-qa-label="personalStatement">{{labels.personalStatement}}</label>
                        {{textarea placeholder="" value=personalStatement maxlength="1500" data-qa-input="personalStatement"}}
                        <small class="input-error-content">Required field</small>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}