<div class="scope-container brand__border-accent--top" style="border-top-color: #cf5c60">
    <div class="content pad--sm--tm">
        <div class="row">
            <div class="column--md--8">
                {{#if appliedMessage}}
                    <div class="alert alert--success mar--sm--bm">
                        <button type="button" class="close show-brkpoint--sm--only" data-dismiss="alert"><span class="alert-close-x"></span><span class="sr-only">Close</span></button>
                        <button type="button" class="close close-timeout show-brkpoint--md">
                            <svg class="close-progress" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                                <circle class="progress-track progress-track--success" cx="20" cy="20" r="19" opacity="0" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10" fill="none"></circle>
                                <path d="M20 1c10.45 0 19 8.55 19 19s-8.55 19-19 19-19-8.55-19-19 8.55-19 19-19z" class="progress progress--success" stroke-linecap="round" stroke-miterlimit="10" fill="none"></path></svg>
                            <span class="alert-close-x"></span><span class="sr-only">Close</span>
                        </button>
                        <strong>{{appliedMessage}}</strong>
                    </div>
                {{/if}}
                <nav id="jobNav" class="relative">
                    <div class="button-group float--right show-brkpoint--md">
                        <button {{bind-attr class=":button :button--primary :theme-bg-color disableApplyButton:disabled" disabled="disableApplyButton"}} data-toggle="dropdown">Apply <span class="show-brkpoint--md">Now</span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu__list-item"><a href="#" {{action "clickApply"}}><span class="juicon juicon-envelope"></span> Apply with email</a></li>
                            <li class="dropdown-menu__list-item"><a href="#" {{action "clickApplyWithLinkedIn"}}><span class="juicon juicon-linkedin"></span> Apply with LinkedIn</a></li>
                            <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-facebook"></span> Apply with Facebook</a></li>
                        </ul>
                    </div>
                    <h1 class="has-subheading page__heading">{{jobPosting.Name}}</h1>
                    <h2 class="page__subheading">
                        {{firstLocationString}} 

                        {{#if otherLocationsString}} &amp; <a href="communities__prototype__job--v2.html" data-toggle="tooltip" title="" class="pointer text-primary text-underline" data-original-title="{{unbound otherLocationsString}}">{{otherLocationsCount}} others</a>
                        {{/if}}
                    </h2>
                </nav>
                <p>{{{jobPosting.Job_Description__c}}}</p>
                <hr class="mar--sm--txl mar--sm--bxl">
                <div class="button-group inline-block vam width--full--sm--only">
                    <button {{bind-attr class=":button :button--primary :theme-bg-color :width--full--sm--only disableApplyButton:disabled" disabled="disableApplyButton"}} data-toggle="dropdown">Apply <span class="show-brkpoint--md">Now</span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-envelope"></span> Apply with email</a></li>
                        <li class="dropdown-menu__list-item"><a href="#" {{action "clickApplyWithLinkedIn"}}><span class="juicon juicon-linkedin"></span> Apply with LinkedIn</a></li>
                        <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-facebook"></span> Apply with Facebook</a></li>
                    </ul>
                </div>
                <span class="mar--sm--lm">or <a href="#" class="text-underline saveJobLink">save this job</a> if you're not ready</span>
            </div>
            <div class="column--md--4 mar--sm--only--txl">
                <div class="button-group width--full inline-block vam width--full--sm--only">
                    <button class="button button--secondary width--full theme-border-color theme-link-color" data-toggle="dropdown">Share Job <span class="juicon juicon-share"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-twitter"></span> Twitter</a></li>
                        <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-linkedin"></span> LinkedIn</a></li>
                        <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-facebook"></span> Facebook</a></li>
                    </ul>
                </div>
                <hr>
                <h3 class="mar--sm--tn mar--sm--bn"><span class="juicon juicon-twitter text-faded"></span> Recent tweets <a href="#">@Salesforce</a></h3>
                <ul class="list-style-type-none">
                    <li class="card">
                        <div class="card__body">
                            <span>"</span><a href="#" class="text-faded">As a software developer, you will be part of Salesforce's Data Science Team.</a><span>"</span>
                        </div>
                    </li>
                    <li class="card">
                        <div class="card__body">
                            <span>"</span><a href="#" class="text-faded">As a software developer, you will be part of Salesforce's Data Science Team.</a><span>"</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>