<div class="column--md--6">
    <div {{bind-attr class=":form__group isHistorySection:mar--sm--bm"}}>
        <label data-qa-label="fieldName" {{bind-attr class="field.isNotRequired::required-field"}}>{{field.label}}
            {{#if field.helpText}}
                <span data-toggle="tooltip" data-placement="bottom" title="{{unbound field.helpText}}" class="has-tooltip juicon juicon-info-circle" data-qa-label="helpText"></span>
            {{/if}}
        </label>
        {{date-picker value=field.value}}
        <small class="input-error-content"></small>
    </div>
</div>