{{#if field.isFullRow}}
    <div class="column--md--12">
        <div class="row">
            <div class="column--md--6">
                <div {{bind-attr class=":form__group isHistorySection:mar--sm--bm field.hasError:has-error"}}>
                    <label for="firstName" {{bind-attr class="field.isNotRequired::required-field"}}>
                        {{field.label}}
                        {{#if field.helpText}}
                            <span data-toggle="tooltip" data-placement="bottom" title="{{unbound field.helpText}}" class="has-tooltip juicon juicon-info-circle" data-qa-label="helpText"></span>
                        {{/if}}
                    </label>
                    {{input type="text" value=field.value name=field.inputName data-qa-input="textField" maxlength=field.maxLength}}
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="column--md--6">
        <div {{bind-attr class=":form__group isHistorySection:mar--sm--bm field.hasError:has-error"}}>
            <label for="firstName" {{bind-attr class="field.isNotRequired::required-field"}}>
                {{field.label}}
                {{#if field.helpText}}
                    <span data-toggle="tooltip" data-placement="bottom" title="{{unbound field.helpText}}" class="has-tooltip juicon juicon-info-circle" data-qa-label="helpText"></span>
                {{/if}}
            </label>
            {{input type="text" value=field.value name=field.inputName data-qa-input="textField" maxlength=field.maxLength}}
        </div>
    </div>
{{/if}}