{{#if isOnePage}}
    <div class="wizardSection pad--sm--only--n mar--md--txl" data-qa-container="languagesOnePage">
        <div class="panel">
            <div class="panel__top">
                <h2 class="panel__heading" data-qa-header="languages">
                    Languages
                </h2>
            </div>
            {{#each language in model itemController="historyBlock"}}
                <div class="panel__component panel__component--removable" data-qa-container="languageBlock">
                    <button type="button" class="close" {{action "clickDeleteAI" language}} data-qa-button="deleteLanguage"><span class="component-remove-x"></span><span class="sr-only">{{labels.close}}</span></button>
                    <div class="row">
                        {{#each field in language.fields itemController="additionalInfoField"}}
                            {{partial field.partial}}
                        {{/each}}
                    </div>    
                </div>
            {{/each}}
            <div class="panel__component">
                <button class="button button--primary width--full--sm--only theme-bg-color" {{action "clickAddAI"}} data-qa-button="addLanguage">Add language <span class="juicon juicon-plus"></span></button>
            </div>
        </div>
    </div>
{{else}}
    <div class="wizardSection pad--sm--only--n active" data-qa-container="languages">
        <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm" data-qa-header="languages">Languages</h1>   
        {{#if errorMessage}}
            {{partial "errorAlert"}}
        {{/if}}                         
        <div class="panel">
            {{#each language in model itemController="historyBlock"}}
                <div class="panel__component panel__component--removable pad--sm--bn" data-qa-container="languageBlock">
                    <button type="button" class="close" {{action "clickDeleteAI" language}} data-qa-button="deleteLanguage"><span class="component-remove-x"></span><span class="sr-only">{{labels.close}}</span></button>
                    <div class="row">
                        {{#each field in language.fields itemController="additionalInfoField"}}
                            {{partial field.partial}}
                        {{/each}}
                    </div> 
                </div>
            {{/each}}
            <div class="panel__component">
                <button class="button button--primary width--full--sm--only theme-bg-color" {{action "clickAddAI"}} data-qa-button="addLanguage">Add language <span class="juicon juicon-plus"></span></button>
            </div>
        </div>
    </div>
{{/if}}