<div class="scope-container">
    <div class="content content--readable pad--md--ts pad--md--bl pad--sm--only--n pad--sm--tm">
        <div class="content__section show-brkpoint--md">
            <img class="mar--sm--bxl theme-logo" data-qa-image="logoHeader" src="{{unbound companyLogoUrl}}" style="max-height: 40px;"/>
        </div>

        {{partial "savingNotification"}}


        <div class="wizardContent">
            <span style="position:fixed"><a id="fixZoom" href="#" style="color: white; font-size:0.1em">link</a></span>
            {{#if errorMessage}}
                {{partial "errorAlert"}}
            {{/if}}
            {{render "contactInfo" contactFields}}
            {{#if isResumeEnabled}}
                {{render "resume" resume}}
            {{/if}}
            {{#if isSkillsEnabled}}
                {{render "skills" skills}}
            {{/if}}
            {{#if isEmploymentHistoryEnabled}}
                {{render "employmentHistory" employmentHistoryArray}}
            {{/if}}
            {{#if isEducationHistoryEnabled}}
                {{render "educationHistory" educationHistoryArray}}
            {{/if}}
            {{#if isProjectsEnabled}}
                {{render "projects" projectsArray}}
            {{/if}}
            {{#if isRecommendationsEnabled}}
                {{render "recommendations" recommendationsArray}}
            {{/if}}
            {{#if isRecognitionEnabled}}
                {{render "recognition" recognitionArray}}
            {{/if}}
            {{#if isCertificationsEnabled}}
                {{render "certifications" certificationsArray}}
            {{/if}}
            {{#if isTrainingDevelopmentEnabled}}
                {{render "trainingDevelopment" trainingDevelopmentArray}}
            {{/if}}
            {{#if isPublicationsEnabled}}
                {{render "publications" publicationsArray}}
            {{/if}}
            {{#if isPatentsEnabled}}
                {{render "patents" patentsArray}}
            {{/if}}
            {{#if isLanguagesEnabled}}
                {{render "languages" languagesArray}}
            {{/if}}
            {{#if isVolunteeringEnabled}}
                {{render "volunteering" volunteeringArray}}
            {{/if}}
            {{#unless isGeneralEmpty}}
                {{render "general" generalFormElements}}
            {{/unless}}
            {{#unless isJobSpecificEmpty}}
                {{render "jobSpecific" jobSpecificFormElements}}
            {{/unless}}
            {{#unless isLegalEmpty}}
                {{render "legallyRequired" legalFormElements}}
            {{/unless}}
            <div class="content mar--sm--txl pad--md--n mar--sm--bm" data-qa-container="desktopButtons">
                <hr class="show-brkpoint--md"/>
                    <button {{bind-attr class=":button :button--primary :button--sf1-nav :mar--sm--only--ls :mar--sm--only--ts :mar--sm--only--rs :float--right :next :theme-bg-color disableFinish:disabled" disabled="disableFinish"}} style="top:0;right:0;" {{action "clickFinish"}} data-qa-button="done"><span class="show-brkpoint--md">Finish</span> <span class="juicon juicon-check"></span> </button>
            </div>
        </div>

        <footer>
            <div class="content__section">
                <img class="mar--sm--txl theme-logo" data-qa-image="logoFooter" src="{{unbound companyLogoUrl}}" style="max-height: 40px;"/>
            </div>
        </footer>
    </div>
</div>