<div class="scope-container">
    <div class="content content--readable pad--sm--n pad--sm--tm">
        <div class="panel mar--sm--bm js-panel">
            <div class="panel__top">
                <div class="js-view-buttons">
                    {{#if isOwner}}
                        <button class="button button--primary float--right mar--sm--ls hide-brkpoint--sm" data-target="#linkedinModal" data-toggle="modal" type="button">
                            <span class="juicon juicon-download"></span>
                            Import from LinkedIn
                        </button>
                    {{/if}}
                    <button type="button" {{action "clickEdit"}} class="button button--secondary float--right js-edit-page">
                        <span class="juicon juicon-pencil"></span>
                    </button>
                </div>
                <h2 class="panel__heading">
                    Talent Profile
                </h2>
            </div>
            {{#if showPersonalInfo}}
                {{#with talentProfile.User__r}}
                    <section id="identity" style="display: block;">
                        <div class="panel__body">
                            <div class="part__left--fixed pad--sm--n">
                                <div class="img-container img-container--lg"><img src="{{unbound SmallPhotoUrl}}">
                                </div>
                            </div>
                            <div class="part__body width--full pad--sm--lm pad--sm--rm">
                                    <h5 class="mar--sm--n relatedPerson"><a href="/{{unbound Id}}">{{Name}}</a></h5>
                                    <h5 class="text-faded mar--sm--n">
                                        {{Title}}
                                    </h5>
                            </div>
                        </div>
                    </section>
                {{/with}}
            {{/if}}
            {{#if tpFields}}
                <section id="custom-fields">
                    <div class="js-section-view">
                        <div {{bind-attr class=":panel__body showPersonalInformation:pad--sm--tn"}}>
                            <div class="row pad--sm--rxxl">
                                {{#each field in tpFields}}
                                    <div class="column--sm--6 column--xs--only--12">
                                        <label class="block">{{field.label}}</label>
                                        {{#if field.value}}
                                            <div data-qa-label="fieldSetValue">{{{field.value}}}</div>
                                        {{else}}
                                            <div data-qa-label="fieldSetValue">Not Provided</div>
                                        {{/if}}
                                    </div> 
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </section>
            {{/if}}
            {{#with talentProfile}}
                {{#if Summary__c}}
                    <section id="summary">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Summary</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <p class="mar--sm--tn">
                                {{Summary__c}}
                            </p>
                        </div>
                    </section>
                {{/if}}
                {{#with Projects__r}}
                    <section id="projects">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Project"}}</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>{{Name}}</h3>
                                    <small class="text-faded">{{displayDate Start_Date__c End_Date__c "to"}}</small>
                                    <p>
                                        {{Description__c}}
                                    </p>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Recognition__r}}
                    <section id="recognition">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Recognition</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>
                                        {{#if Link__c}}
                                            <a {{action "navigation" Link__c}} href="#" target>{{Name}}</a>
                                        {{else}}
                                            {{Name}}
                                        {{/if}}
                                    </h3>
                                    <small class="text-faded block">{{Issuer__c}}</small>
                                    <small class="text-faded">{{Month__c}} {{Year__c}}</small>
                                    <p>
                                        {{Description__c}}
                                    </p>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Performance_Ratings__r}}
                    <section id="performanceRatings">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Performance Rating"}}</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>
                                        {{#if Link__c}}
                                            <a {{action "navigation" Link__c}} href="#" target>{{Name}} {{#if Rating_Score__c}}({{Rating_Score__c}}){{/if}}</a>
                                        {{else}}
                                            {{Name}} {{#if Rating_Score__c}}({{Rating_Score__c}}){{/if}}
                                        {{/if}}
                                    </h3>
                                    <small class="text-faded">{{#if Date__c}}{{Date__c}} ● {{/if}}{{Job_Title__c}}</small>
                                    <div class="card mar--sm--tm">
                                        <div class="card__body">
                                            <p class="mar--sm--n">
                                                {{Description__c}}
                                            </p>
                                            <div class="text-right">
                                                {{#if Reviewer_Link__c}}
                                                    <a {{action "navigation" Reviewer_Link__c}} href="#" class="block">
                                                        {{Reviewer__c}}
                                                    </a>
                                                {{else}}
                                                    {{Reviewer__c}}
                                                {{/if}}
                                                {{Reviewer_Title__c}}
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Training_Activities__r}}
                    <section id="traning">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Training Activity"}}</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>
                                        {{#if Link__c}}
                                            <a {{action "navigation" Link__c}} href="#" target>{{Name}}</a>
                                        {{else}}
                                            {{Name}}
                                        {{/if}}
                                    </h3>
                                    <small class="text-faded block">{{Source__c}}</small>
                                    <small class="text-faded">{{Date__c}}</small>
                                    <p>
                                        {{Description__c}}
                                    </p>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Skill_Assertions__r}}
                    <section id="otherSkills">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Skill"}}</h4>
                        </div>
                        <div class="panel__body">
                            {{#each records}}
                                <span class="label label--secondary inline-block mar--sm--bxs">{{Skill__r.Name}}</span>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Publications__r}}
                    <section id="publications">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Publication"}}</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>
                                        {{#if Link__c}}
                                            <a {{action "navigation" Link__c}} href="#" target>{{Name}}</a>
                                        {{else}}
                                            {{Name}}
                                        {{/if}}
                                    </h3>
                                    <small class="text-faded">{{#if Date__c}}{{Date__c}} ● {{/if}}{{Publisher__c}}</small>
                                    <p>
                                        {{Description__c}}
                                    </p>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Patents__r}}
                    <section id="patents">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Patent"}}</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>
                                        {{#if Link__c}}
                                            <a {{action "navigation" Link__c}} href="#" target>{{Name}}</a>
                                        {{else}}
                                            {{Name}}
                                        {{/if}}
                                    </h3>
                                    <small class="text-faded block">
                                        {{#if Number__c}}
                                            {{Number__c}} {{#if Office__c}}({{Office__c}}){{/if}}
                                        {{else}}
                                            {{Office__c}}
                                        {{/if}}
                                    </small>
                                    <small class="text-faded">
                                        {{#if Date__c}}
                                            {{Date__c}} {{#if Status__c}}({{Status__c}}){{/if}}
                                        {{else}}
                                            {{Status__c}}
                                        {{/if}}
                                    </small>
                                    <p>
                                        {{Summary__c}}
                                    </p>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Recommendations__r}}
                    <section id="recommendations">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Recommendation"}}</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <div class="card mar--sm--tm">
                                        <div class="card__body">
                                            <p class="mar--sm--n">
                                                {{Recommendation_Text__c}}
                                            </p>
                                            <div class="text-right">
                                                <p>
                                                    {{Name}}
                                                </p>
                                                {{Recommender_Title__c}}
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Certifications__r}}
                    <section id="certifications">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Certification"}}</h4>
                        </div>
                        <div class="test panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>{{Name}} {{#if Number__c}}({{Number__c}}){{/if}}</h3>
                                    <small class="text-faded block">{{Issuer__c}}</small>
                                    <small class="text-faded">{{displayMonthYear Start_Month__c Start_Year__c End_Month__c End_Year__c "to"}}</small>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Employment_Histories__r}}
                    <section id="employment">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Employment</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>{{Job_Title__c}}</h3>
                                    <small class="text-faded block">{{Name}}</small>
                                    <small class="text-faded">{{displayMonthYear Start_Month__c Start_Year__c End_Month__c End_Year__c "to"}}</small>
                                    <p>{{namespace_Description__c}}</p>
                                    <hr class="hr-alt"/>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Education_Histories__r}}
                    <section id="educations">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Education</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>{{Name}}</h3>
                                    <small class="text-faded block">{{Education_Level__c}}</small>
                                    <small class="text-faded">{{displayMonthYear Start_Month__c Start_Year__c End_Month__c End_Year__c "-"}}</small>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
                {{#with Languages__r}}
                    <section id="languages">
                        <div class="list-heading">
                            <h4 class="list-heading__title">{{pluralfication records "Language"}}</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <ul class="mar--sm--tn">
                                {{#each records}}
                                    <li>{{Name}} {{#if Proficiency_Level__c}}({{Proficiency_Level__c}}){{/if}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </section>
                {{/with}}
                {{#with Volunteer_Work__r}}
                    <section id="volunteering">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Volunteering</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            {{#each records}}
                                <article class="mar--sm--bm">
                                    <h3>{{Name}}</h3>
                                    <small class="text-faded">{{Role__c}}</small>
                                    <p>
                                        {{Description__c}}
                                    </p>
                                </article>
                            {{/each}}
                        </div>
                    </section>
                {{/with}}
            {{/with}}
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="linkedinModalLabel" class="modal fade" id="linkedinModal" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal__shell">
            <div class="modal__content">
                <div class="modal__top">
                    <button class="close" data-dismiss="modal" type="button">
                        <span class="close-modal-x"></span><span class="sr-only">Close</span>
                    </button>
                    <h2 class="modal__heading" id="myModalLabel">Import from LinkedIn</h2>
                </div>
                <div class="modal__body">
                    <p>Importing from LinkedIn will add the following to your Talent Profile (where available):</p>
                    <ul>
                        <li>Summary</li>
                        <li>Recognition (Honors and Awards)</li>
                        <li>Publications</li>
                        <li>Patents</li>
                        <li>Recommendations</li>
                        <li>Certification</li>
                        <li>Other Skills</li>
                        <li>Employment </li>
                        <li>Education </li>
                        <li>Languages</li>
                        <li>Volunteer Work</li>
                    </ul>
                    <p>You can then edit your profile further before saving.</p>
                </div>
                <div class="modal__footer">
                    <button class="button button--secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="button button--primary" data-dismiss="modal" type="button">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>